{{/*
Presents correct 'last modified date' for content by taking the most recent Lastmod date from 
    all files in a Learning Path / Install Guide, not just the _index.md file.

Where it is used:
    - List pages for Learning Path & Install Guides
    - learning path _intro
    - Install guide _intro

Called from:
    - partials general-formatting/metadata-table.html
    - partials learning-paths/list.html
*/}}

{{- $index_file_path := (print .File.Dir) -}}

{{- $most_recent := "0001-01-01" }} {{/* YYYY-MM-DD for chronological comparison */}}
{{- range  site.Pages }}
    {{- if .File -}}
        {{- if hasPrefix .File.Dir $index_file_path }}
            {{ $page_date := .Lastmod.UTC.Format "2006-01-02" }}
            {{- if gt $page_date $most_recent }}
                {{- $most_recent = $page_date }}
            {{- end }}
        {{end}}
    {{end}}
{{end}}

{{ $most_recent_formatted := dateFormat "02 Jan 2006" $most_recent }}
{{$most_recent_formatted }}


{{/*  {{ .Lastmod.UTC.Format "2 Jan 2006" }}   */}}

