<style>
     /* Normal Tags */
    /***********************************/   
    html[theme='light'] ads-tag {
        --ads-tag-color: var(--arm-black);
        --ads-tag-border-color: var(--arm-dark-grey);
        --ads-tag-background-color: white;

        --ads-tag-color-hover: var(--arm-blue);
        --ads-tag-border-color-hover: var(--arm-blue);
        --ads-tag-background-color-hover: white;
    }
 

     /* Module Card */
    /***********************************/   
    ads-card.module-card {
        --ads-card-border-radius: 10px;
        --ads-card-border-width: 2px;

        --ads-card-border-color: var(--arm-light-grey-alt-2);
        --ads-card-border-color-hover: var(--arm-light-grey-alt-2);

        --ads-card-background-color: var(--arm-light-grey-alt);
        --ads-card-background-color-hover: var(--arm-light-grey-alt);

    }
    html[theme='dark'] ads-card.module-card {
        --ads-card-border-color: var(--arm-black);
        --ads-card-border-color-hover: var(--arm-black);

        --ads-card-background-color: var(--arm-color-overlay-dark);
        --ads-card-background-color-hover: var(--arm-color-overlay-dark);
    }

    .module-card-a:hover {
        text-decoration: none;
    }
    .module-card-a {
        color: var(--arm-blue);
    }
    .module-card-a:hover {
        color: var(--arm-web-safe-orange);;
    }

    .module-card-subtitle {
        color: var(--arm-dark-grey);
        font-size: 0.9rem;
    }







</style>