<a href="{{.link_to}}" style="text-decoration: none; cursor: pointer;">
    <div class="maintopic-list-div {{ if eq .current_title .context.Title }} active {{else}} inactive {{end}}">
        {{.context.Title}}
    </div>
</a>

<style>

     /* Main Topic button select styling */
    /***********************************/   
    .maintopic-list-div {
        border-width: 1px;
        border-style: solid;
        border-radius: 8px;

        text-align: center;
        font-size: 0.9rem;

        padding-top: 5px;
        padding-bottom: 5px;

    }
    .maintopic-list-div.active {
        color: var(--arm-black);
        border-color: var(--arm-yellow);
        background-color: var(--arm-yellow);
    }  
    .maintopic-list-div.inactive {
        color: var(--arm-black);
    }


    html[theme='dark'] .maintopic-list-div.active {
        border-color: var(--arm-color-overlay-light);
        color: var(--black);
        background-color: var(--arm-light-blue);
    }  
    html[theme='dark'] .maintopic-list-div.inactive {
        border-color: var(--arm-color-overlay-light);
        color: var(--arm-light-blue);
    }

    /* Hover states */
    .maintopic-list-div.active:hover {
        filter: brightness(110%);
    }  
    .maintopic-list-div.inactive:hover {
        color: white;
        background-color: var(--arm-dark-grey);
        border-color: var(--arm-black);
    }  

    html[theme='dark'] .maintopic-list-div.active:hover {
        filter: brightness(90%);
        border-color: var(--arm-light-blue);
    }  
    html[theme='dark'] .maintopic-list-div.inactive:hover {
        background-color: var(--black);
        border-color: var(--arm-light-grey);
    }  
</style>