/public
/static/
__pycache__/
resources/
node_modules/
package-lock.json
.hugo_build.lock
.vscode
.env
startup.sh

# macOS files
*.DS_Store
nohup.out

venv/
z_local_saved/
/.idea/
/tools/.python-version
/.python-version
*.iml
*.xml

