{{/*
Simple About page to share content from the about.md file, with a special link to github via partial.

Where it is used:
    - /about/

Called from:
    - baseof

Calls to:
    - NA
*/}}

{{ define "main" }}

<div class="c-row u-margin-top-1">
    <div class="c-col">
        <div class="u-display-grid u-gap-1 sm:u-grid-columns-1 lg:u-grid-columns-2 u-margin-top-1">
            <div class="content-box markdown-content-div">
                <p style="margin-top: -32px;">{{.Content}}</p>
            </div>
            <div class="u-hide lg:u-display-block" style="margin-top:16px;">
                <img src="/img/about-pic.jpg" alt="Arm technology in our world" width="100%">
            </div>
        </div>
</div>

{{end}}