 <!-- GitHub links calculated from GitHub repo, defined in config.toml -->
 {{ $pathFormatted := replace .File.Path "\\" "/" -}}
 {{ $gh_repo := ($.Param "github_repo") -}}
 {{ $gh_url := ($.Param "github_url") -}}
 {{ $gh_subdir := ($.Param "github_subdir") -}}
 {{ $gh_project_repo := ($.Param "github_project_repo") -}}
 {{ $gh_branch := (default "master" ($.Param "github_branch")) -}}
 {{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}

 {{ $viewURL := printf "%s/tree/%s" $gh_repo $gh_repo_path -}}
 {{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path -}}
 {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (safeURL $.Title ) -}}

 <div class="github-div">
    <a href="{{ $issuesURL }}" target="_blank" style="text-decoration: none;"><p class="github-link"><span><i class="left-hand-icon fa-regular fa-scrubber"></i>&nbsp;&nbsp;Log an issue</p></span></a>
    <a href="{{ $editURL }}" target="_blank" style="text-decoration: none;"><p class="github-link"><span><i class="left-hand-icon fa-solid fa-code-branch"></i>&nbsp;&nbsp;Fork and edit</p></span></a>
    <a href="https://discord.com/invite/armsoftwaredev" target="_blank" style="text-decoration: none;"><p class="github-link"><span><i class="left-hand-icon fa-brands fa-discord"></i>&nbsp;&nbsp;Discuss on Discord</p></span></a>   
 </div>
 
 <style>
    .left-hand-icon {
        width: 15px;
    }

    p.github-link        { 
        margin-top: 0px;
        margin-bottom: 0px;

        color: var(--arm-blue);
        text-decoration: none;
    }

    div.github-div {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;

        margin-top: 16px;

        border-style: solid;
        border-width: 1px;

        border-color: var(--arm-dark-grey);
    }

    html[theme='dark'] div.github-div {
        border-color: var(--arm-color-overlay-light);
    }
 </style>
