/*********************************************************************            
        Fonts
                Heading: Noi Grotesk
                Subheading: Source Code
                Body: Lato
        Background colors

**********************************************************************/

/* UNIVERSAL */
/****************************************************/


/* Font size hardcoding to fix ADS */
ads-tag div {
        font-size: 14px!important;
    }
    
p,
li,
code,
div,
table,
input,
label {
    font-size: 16px!important;
}



/* Fix global nav height */
/*************************************/
#global-nav-height-fixer {
        /*background-color: var(--arm-black);*/
        background: linear-gradient(0deg, #2d2f34 40%, #010101 40%);
        max-width: 100vw;
        min-height: 105px;
        position: relative;
        top: 0;
}


@media (max-width: 992px) { /* smaller screens than LG */
        #global-nav-height-fixer {
                background: #010101;
                /*background-color: #010101; */
                min-height: 50px;
        }
}

/* Fix Masthead Height */
#expanded-masthead  {
        /*background-color: var(--arm-black);*/
        background: #010101;
        max-width: 100vw;
        min-height: 105px;
        /*position: relative;
        top: 0;*/
}


@media (max-width: 768px) { /* smaller screens than MD */
        #expanded-masthead {
                background: #010101;
                /*background-color: #010101; */
                min-height: 90px;
        }
}
    
/* Fix Search Height */
ads-search#search-box {
        min-height: 45px;
}


/* Hide breadcrumb when small screen. */
@media (max-width: 576px) {
        #breadcrumb-element {
                visibility: hidden !important;
        }
}

/* Replicate style of breadcrumb in masthead when alone. */
#only-breadcrumb-masthead {
width: 100%;

background-color: black;

padding-left: 40px; /* u-padding-left-2-1/2 */
padding-bottom: 8px; 
}


/* Remove text decorations on all a links when highlighted */
a:hover {
        text-decoration: none;
}
/* Make all links in paragraphs underlined */
a {
    text-decoration: underline;
}





/* Light Theme */
/****************************************************/
html[theme='light'] body {
        /*background-color: var(--arm-light-grey-alt); */
        background-color: white;
        --ads-table-border-color: white!important;
}
html[theme='light'] body.gradient-background {
        background: radial-gradient(400px at top,#55d5e8,white)!important; 
        /*background: radial-gradient(400px at top, rgba(0,193,222,1) 0%,var(--arm-light-grey-alt))!important; */
}

/* Dark Theme */
/****************************************************/
html[theme='dark'] body {
        background-color: var(--arm-color-surface);       
}
html[theme='dark'] body.gradient-background {
        background: radial-gradient(400px at top,#207184,var(--arm-color-surface))!important; /*207184*/
}



