#result-sort-div {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
}

#current-tag-bar {
    min-height: 30px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

#results-status-bar {
    min-height: 30px;
    margin-top: 4px;
    float: left;    
}

.num-of-paths-text {
    font-size: 18px!important;
    font-weight: bold;
}

#sorting-bar {
    float: right;
}

.filter-column-div {
    /* Ensures left-hand column filter is always at a consistent width (hidden at mobile size) */
    width: 320px;
    max-width: 320px;
}



.filter-facet {
    --ads-tag-background-color: #fff;
    --ads-tag-background-color-hover: #f7f7f7;
    --ads-tag-border-color: 1px solid #5d6c7a;
    --ads-tag-border-color-hover: 1px solid #11809f;
    --ads-tag-color: #5d6c7a;
    --ads-tag-color-hover: #11809f;
  }
html[theme="dark"] .filter-facet {
    --ads-tag-background-color: #1F2023;
    --ads-tag-background-color-hover: #1a1a1a;
    --ads-tag-border-color: 1px solid #e5eceb;
    --ads-tag-border-color-hover: 1px solid #00c1de;
    --ads-tag-color: #fff;
    --ads-tag-color-hover: #11809f;
  }