

ads-alert {
    margin-top: -32px;
    z-index: 1; /* mandate lower z-index to enable filter button to grey out this alert as well; non essentaial */
}
html[theme="dark"]  ads-alert { 
    /*--ads-alert-background-color: var(--arm-color-overlay-dark);*/
    --ads-alert-background-color: var(--arm-color-surface);
    --ads-alert-color: white;
}
html[theme="light"] ads-alert { 
    /*--ads-alert-background-color: var(--white);*/
    --ads-alert-background-color: var(--arm-light-grey-alt);
}
ads-alert a {
    color: var(--arm-blue); 
    text-decoration: none;
}

/*------------------------------------------------------------

        Learning Path / Tool Install Features

------------------------------------------------------------*/


/*          Path Cards 
***************************************************************/
ads-card.path-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
    --ads-card-border-color: var(--arm-light-grey-alt-2);
    --ads-card-background-color: var(--white);

    --ads-card-border-color-hover: var(--arm-orange);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
}
html[theme='dark'] ads-card.path-card {
    --ads-card-background-color: var(--arm-color-overlay-dark);
    --ads-card-border-color: var(--arm-black);

    --ads-card-background-color-hover: var(--black);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(255, 255, 255, 0.25);
}


.basics-title:hover {
    transition: color 0.3s ease-in-out;
    color: var(--arm-orange);
    cursor: pointer;
}

ads-card.path-card:hover  .card-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-orange);
}

/* Change hight based on ads-breakpoint */
    /* default to 50px high at SMALLSEST breakpoint */
ads-card.path-card .card-title-div {
    /*min-height: 85px; */
    min-height: 50px;
}

    /* above, make min-height slightly larger*/
@media (min-width: 768px) { /* md */
    ads-card.path-card .card-title-div {
        min-height: 70px;
    }
}



/* Section Tag */
    /***********************************/
    html[theme='light'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-light-blue);
        --ads-tag-border-color-hover: var(--arm-light-blue);
        --ads-tag-background-color: white;
        --ads-tag-background-color-hover: white;

        --ads-tag-color: var(--arm-black);
        --ads-tag-color-hover: var(--arm-black);
    }
    html[theme='dark'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-blue);
        --ads-tag-border-color-hover: var(--arm-blue);
        --ads-tag-background-color: var(--arm-color-base);
        --ads-tag-background-color-hover: var(--arm-color-base);

        --ads-tag-color: #A3A9AE;
        --ads-tag-color-hover: #A3A9AE;
    }


    .card-subject {
        font-weight: lighter;
        font-size: 0.9rem;
    }

    .card-title, .basics-title {
        color: var(--arm-blue);
        font-weight: bold;
        font-size:1.25rem;
    }
    .basics-title {
        margin: 0;
    }
    .card-tag-details {
        font-size: 0.9rem;
    }
    .card-date {
        font-weight: lighter;
        font-size: 0.9rem;
    }






/*          Filters
***************************************************************/

    ads-expansion-panel.learning-path-filters {
        --ads-expansion-panel-border-color: var(--arm-light-grey);

        --ads-expansion-panel-content-background-color: var(--arm-light-grey-alt);

        --ads-expansion-panel-toggle-background-color: var(--arm-light-grey-alt);
        --ads-expansion-panel-toggle-background-color-hover: var(--arm-light-grey-alt);

    }

    html[theme='dark'] ads-expansion-panel.learning-path-filters {
        --ads-expansion-panel-border-color: var(--arm-black);

        --ads-expansion-panel-content-background-color: var(--arm-color-surface);

        --ads-expansion-panel-toggle-background-color: var(--arm-color-surface);
        --ads-expansion-panel-toggle-background-color-hover: var(--arm-color-surface);

    }

    ads-checkbox {
        --ads-checkbox-margin-left: 0px;
    }



    /* inspiration from here:   https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons   */
    .ads-radio-style {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 10px 0 0;
      }
      
      .ads-radio-style input[type='radio'] {
        display: none;
      }
      
      .ads-radio-style label {
        color: var(--ads-checkbox-label-color);
        font-weight: normal;
      }
      
      .ads-radio-style label:before {
        vertical-align: top; 
        content: " ";
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 8px 0 0;
        width: 16px;
        height: 16px;
        border-radius: 11px;
        border: 1px solid var(--ads-checkbox-border-color);
        background-color: var(--ads-checkbox-background-color);
      }
    
      .ads-radio-style input[type=radio]:hover + label:after {
        border-radius: 11px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 9px;
        left: 4px;
        content: " ";
        display: block;
        background: var(--ads-checkbox-cross-color-hover);  /* depends on theme */
      }


      .ads-radio-style input[type=radio]:checked + label:before {
        border-color:var(--ads-checkbox-border-color-checked);
      }

      .ads-radio-style input[type=radio]:checked + label:after {
        border-radius: 11px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 9px;
        left: 4px;
        content: " ";
        display: block;
        background: var(--ads-checkbox-cross-color-checked);
      }



