

ads-alert {
    margin-top: -32px;
    z-index: 1; /* mandate lower z-index to enable filter button to grey out this alert as well; non essentaial */
}
html[theme="dark"]  ads-alert { 
    /*--ads-alert-background-color: var(--arm-color-overlay-dark);*/
    --ads-alert-background-color: var(--arm-color-surface);
}
html[theme="light"] ads-alert { 
    /*--ads-alert-background-color: var(--white);*/
    --ads-alert-background-color: var(--arm-light-grey-alt);
}








#current-tag-bar {
    min-height: 48px;
}
#tag-preface {
    color: #6f777c;
    display: inline-flex;
    padding-top: 9px; /* aligning center of tags */
}

html[theme="dark"] #tag-preface {
    color: #a3a8ae;
}


#tag-clear-btn {
    float: right;
    padding-top: 7px; /* aligning center of tags */
    cursor: pointer;
    color: var(--arm-web-safe-blue);
}

html[theme="dark"] #tag-clear-btn {
    color: var(--arm-light-blue);
}

#tag-clear-btn:hover { color: var(--arm-web-safe-orange);}
html[theme="dark"] #tag-clear-btn:hover { color: var(--arm-web-safe-orange);}

.sorting-criteria.active {
    position: relative;
    padding-bottom: 2px;
    border-bottom: 2px solid #333e48;
}

html[theme="dark"] .sorting-criteria.active {
    border-bottom: 2.2px solid hsla(0,0%,100%,.9);
}

/* Adjust below-search elements when on small screen to fit better */
@media (max-width: 480px) {
    #tag-preface {
        display: none;
    }
    #current-tag-bar {
        min-height: auto;
    }
    #results-status-bar {
        width: 100%;
        margin-bottom:10px;
    }
    #sorting-bar {
        float: left!important;
    }
}







#divider-line {
    border-top: 1px solid var(--ads-search-border-color);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}










/*------------------------------------------------------------

        Learning Path / Tool Install Features

------------------------------------------------------------*/


/*          Path Cards 
***************************************************************/
ads-card.path-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
    --ads-card-border-color: var(--arm-light-grey-alt-2);
    --ads-card-background-color: var(--white);

    --ads-card-border-color-hover: var(--arm-web-safe-orange);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-box-shadow-hover: 0 3px 6px 1px rgba(0,0,0,0.16);  /* 0 1px 3px 3px rgba(0,0,0,0.25); */
}
html[theme='dark'] ads-card.path-card {
    --ads-card-background-color: var(--arm-color-overlay-dark);
    --ads-card-border-color: var(--arm-black);

    --ads-card-background-color-hover: var(--black);
    --ads-card-box-shadow-hover: 0 3px 6px 1px rgba(0,0,0,0.16); /* 0 1px 3px 3px rgba(255,255,255,0.25); */
}


.basics-title:hover {
    transition: color 0.3s ease-in-out;
    color: var(--arm-web-safe-orange);
    cursor: pointer;
}

ads-card.path-card:hover  .card-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-web-safe-orange);
}

/* Change hight based on ads-breakpoint */
    /* default to 50px high at SMALLSEST breakpoint */
ads-card.path-card .card-title-div {
    /*min-height: 85px; */
    min-height: 50px;
}

    /* above, make min-height slightly larger*/
@media (min-width: 768px) { /* md */
    ads-card.path-card .card-title-div {
        min-height: 70px;
    }
}



/* Section Tag */
    /***********************************/
    html[theme='light'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-light-blue);
        --ads-tag-border-color-hover: var(--arm-light-blue);
        --ads-tag-background-color: white;
        --ads-tag-background-color-hover: white;

        --ads-tag-color: var(--arm-black);
        --ads-tag-color-hover: var(--arm-black);
    }
    html[theme='dark'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-blue);
        --ads-tag-border-color-hover: var(--arm-blue);
        --ads-tag-background-color: var(--arm-color-base);
        --ads-tag-background-color-hover: var(--arm-color-base);

        --ads-tag-color: #A3A9AE;
        --ads-tag-color-hover: #A3A9AE;
    }


    .card-subject {
        font-weight: lighter;
        font-size: 0.9rem!important;
    }

    html[theme="light"] .card-title, html[theme="light"] .basics-title {
        color: var(--arm-blue);
    }
    .card-title, .basics-title {
        color: var(--arm-light-blue);
        font-weight: bold;
        font-size:1.25rem;
    }

    .basics-title {
        margin: 0;
    }
    .card-tag-details {
        font-size: 0.9rem!important;
    }
    .card-date {
        font-weight: lighter;
        font-size: 0.9rem!important;
    }






/*          Filters
***************************************************************/

    ads-expansion-panel.learning-path-filters {
        --ads-expansion-panel-border-color: var(--arm-light-grey);

        --ads-expansion-panel-content-background-color: var(--arm-light-grey-alt);

        --ads-expansion-panel-toggle-background-color: var(--arm-light-grey-alt);
        --ads-expansion-panel-toggle-background-color-hover: var(--arm-light-grey-alt);

    }

    html[theme='dark'] ads-expansion-panel.learning-path-filters {
        --ads-expansion-panel-border-color: var(--arm-black);

        --ads-expansion-panel-content-background-color: var(--arm-color-surface);

        --ads-expansion-panel-toggle-background-color: var(--arm-color-surface);
        --ads-expansion-panel-toggle-background-color-hover: var(--arm-color-surface);

    }

    ads-checkbox {
        --ads-checkbox-margin-left: 0px;
    }



    /* inspiration from here:   https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons   */
    .ads-radio-style {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 10px 0 0;
        white-space: nowrap;
      }
      
      .ads-radio-style input[type='radio'] {
        display: none;
      }
      
      .ads-radio-style label {
        color: var(--ads-checkbox-label-color);
        font-weight: normal;
      }
      
      .ads-radio-style label:before {
        vertical-align: top; 
        content: " ";
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 8px 0 0;
        width: 16px;
        height: 16px;
        border-radius: 11px;
        border: 1px solid var(--ads-checkbox-border-color);
        background-color: var(--ads-checkbox-background-color);
      }
    
      .ads-radio-style input[type=radio]:hover + label:after {
        border-radius: 11px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 9px;
        left: 4px;
        content: " ";
        display: block;
        background: var(--ads-checkbox-cross-color-hover);  /* depends on theme */
      }


      .ads-radio-style input[type=radio]:checked + label:before {
        border-color:var(--ads-checkbox-border-color-checked);
      }

      .ads-radio-style input[type=radio]:checked + label:after {
        border-radius: 11px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 9px;
        left: 4px;
        content: " ";
        display: block;
        background: var(--ads-checkbox-cross-color-checked);
      }



