<!DOCTYPE html>
<html theme="dark">
    <head>
        {{partial "head/head.html" .}}
        {{partial "head/favicons.html" .}}
        {{partial "head/social.html" .}}
        {{partial "head/analytics.html" .}}
        {{partial "head/conditional-redirect.html" .}}
    </head>
    <body>
        {{partial "header/global-nav.html" .}}
        {{partial "header/masthead.html" .}}
        <div id="all-content-div" class="c-container is-full-width" style="min-height: 250px;">
            <div id="all-content-div-margined" class="u-margin-left-2 u-margin-right-2">
                {{block "main" . }}{{end}}
            </div>
        </div>
        {{partial "footer/footer.html" .}}
        {{partial "footer/javascript-functions.html" .}}
    </body>
</html>
