
<ads-global-navigation theme="dark" breakpoint="lg" id="global-nav-example-default" sr-label="default navigation">
    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category1" role="tabpanel" tabindex="0">
        <div class="flyout-content-container c-container u-padding-top-2 u-padding-bottom-5">

          <div class="c-row">
            <div class="c-col c-col-12">
              <h2 class="u-color-arm-light-grey u-font-weight-300 u-margin-top-0 u-margin-bottom-2">Software Development Areas</h2>
            </div>
          </div>

          <div class="c-row">
            <div class="c-col c-col-12">
              <div class="u-display-grid u-gap-2 sm:u-grid-columns-1 md:u-grid-columns-2 lg:u-grid-columns-3 xl:u-grid-columns-3 xxl:u-grid-columns-4">
                {{ range (where .Site.Pages "Params.maintopic" true).ByWeight}}
                  <ads-card has-hover-effect class="path-card global-nav-path-card" link="{{.Permalink}}">
                    <ads-card-image slot="image" src="/{{.Params.cardimage}}" class="u-bg-position-top" style="max-height: 75px;"></ads-card-image>
                    <ads-card-content slot="content">
                        <h4 class="u-color-arm-blue u-margin-top-0 u-margin-bottom-0">{{.Title}}</h4>
                    </ads-card-content>   
                </ads-card>
                {{end}}
              </div>
            </div>
          </div>
        </div>
    </div>


    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category2" role="tabpanel" tabindex="1">
      <div class="flyout-content-container c-container u-padding-top-2 u-padding-bottom-5">

        <div class="c-row">
          <div class="c-col c-col-12">
            <h2 class="u-color-arm-light-grey u-font-weight-300 u-margin-top-0 u-margin-bottom-2">Install Tools</h2>
          </div>
        </div>

        <div class="c-row u-margin-top-1 u-margin-left-2">
          <div class="c-col">
            <p theme="dark">Looking for quick install instructions for a particular tool?</p>
            
            <span style="display:inline-block;">
                <ads-search theme="dark" has-search-button id="search-box-tools-global-nav" placeholder="Search by tool name" class="u-width-auto"></ads-search>
            </span>
            <span style="display:inline-block;" class="u-margin-left-1">
                <ads-cta-link theme="dark"  link='/install-tools'><span>See all</span></ads-cta-link>
            </span>
          </div>
        </div>
      </div>
    </div>



    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category3" role="tabpanel" tabindex="1">
      <div class="flyout-content-container c-container u-padding-top-2 u-padding-bottom-5">

        <div class="c-row">
          <div class="c-col c-col-12">
            <h2 class="u-color-arm-light-grey u-font-weight-300 u-margin-top-0 u-margin-bottom-2">What is this site about?</h2>
          </div>
        </div>

        <div class="c-row u-margin-top-1 u-margin-left-2">
          <div class="c-col" theme="dark">
              {{with .Site.GetPage "/about"}}
                {{ .Content | replaceRE "<p>" "<p theme=\"dark\">" | safeHTML }}
              {{end}}
          </div>
        </div>
      </div>
    </div>







  <div slot="top-bar-content-end">
    {{ $gh_repo := ($.Param "github_repo") -}}
    <ads-cta-button id="contribute-btn" level="primary" theme="dark" size="small" text="Contribute via GitHub" onclick="window.open('{{$gh_repo}}','_blank')"></ads-cta-button>
  </div>
</ads-global-navigation>

<script>
(() => {
    const logo = {
      src: '/img/logo.svg',
      link: '/',
      alt: 'Arm developer logo',
    };

    const actions = [
      {
        id: 'theme',
        type: 'button',
        icon: 'fal fa-lightbulb',
        title: 'theme',
      },
      /* Uncomment to allow user to change page width
      {
        id: 'width',
        type: 'button',
        icon: 'fas fa-text-width',
        title: 'width',
      },
      */
      {
        id: 'height',
        type: 'button',
        icon: 'fas fa-text-height',
        title: 'height',
      },
    ];

    const contextualData = [
      {
        id: 'category1',
        slotId: 'category1',
        label: 'Software Development Areas',
        items: [
          {
            label: 'Server and Cloud',
            link: '/learning-paths/server-and-cloud/',
          },
          {
            label: 'Desktop and Laptop',
            link: '/learning-paths/desktop-and-laptop/',
          },
          {
            label: 'Mobile',
            link: '/learning-paths/mobile/',
          },
          {
            label: 'Embedded',
            link: '/learning-paths/embedded/',
          },
          {
            label: 'Microcontroller',
            link: '/learning-paths/microcontroller/',
          },
        ],
      },
      {
        id: 'category2',
        slotId: 'category2',
        label: 'Install Tools',
        link: '/install-tools/',
      },
      {
        id: 'category3',
        slotId: 'category3',
        label: 'About',
        link: '/about',
      },
    ];
    
    const contextualIcons = [
      {
        id: 'icon-discord',
        label: 'Discord',
        icon: 'fab fa-discord',
        link: {
          href: 'https://discord.com/channels/839248077487472640/852241056275103785',
          target: '_blank',
        },
      },
      {
        id: 'icon-github',
        label: 'Github',
        icon: 'fab fa-github',
        link: {
          href: 'https://github.com/ArmDeveloperEcosystem',
          target: '_blank',
        },
      },
      {
        id: 'icon-twitter',
        label: 'Twitter',
        icon: 'fab fa-twitter',
        link: {
          href: 'https://twitter.com/armsoftwaredev?lang=en',
          target: '_blank',
        },
      },
      {
        id: 'icon-youtube',
        label: 'Youtube',
        icon: 'fab fa-youtube',
        link: {
          href: 'https://www.youtube.com/c/armsoftwaredevelopers',
          target: '_blank',
        },
      },
    ];

    const globalNav = document.getElementById('global-nav-example-default');
    //globalNav.globalData = data;
    globalNav.contextualData = contextualData;
    globalNav.contextualIcons = contextualIcons;

    globalNav.actions = actions;
    globalNav.logo = logo;

    globalNav.actionSelectHandler = (evt) => {
      if (evt.action === 'theme') {
          const currentTheme = document.querySelector('html').getAttribute("theme");

          console.log('here',document.getElementById('global-nav-example-default'),document.getElementById('global-nav-example-default').shadowRoot.querySelector('.fa-lightbulb'));

          if (currentTheme === "dark") { // Turn to Light theme
            document.querySelector('html').setAttribute('theme', 'light');
            document.getElementById('prism-code-theme').href='/css/prism-light.css';
            document.getElementById('global-nav-example-default').shadowRoot.querySelector('.fa-lightbulb').classList.replace("fal","fas");
            localStorage.setItem('theme', 'light');      
          }
          else if (currentTheme === "light") { // Turn to SW-Hub theme
            document.querySelector('html').setAttribute('theme', 'dark');
            document.getElementById('prism-code-theme').href='/css/prism-dark.css';
            document.getElementById('global-nav-example-default').shadowRoot.querySelector('.fa-lightbulb').classList.replace("fas","fal");
            localStorage.setItem('theme', 'dark');          
          }

          // Ignored for now
          else if (currentTheme === "sw-hub") { // Turn to Dark theme
            document.querySelector('html').setAttribute('theme', 'dark');
            document.getElementById('prism-code-theme').href='/css/prism-dark.css';
            localStorage.setItem('theme', 'dark');      
          }

      };
      if (evt.action === 'width') {
          const isCurrentlyFullWidth = document.getElementById("all-content-div").classList.contains("is-full-width");
          if ( isCurrentlyFullWidth ) {
            localStorage.setItem('smallerWidth', 'true');  //Save user preference in storage
            document.getElementById("all-content-div").classList.remove("is-full-width");
            document.getElementById("all-content-div-margined").classList.remove("u-margin-left-2");
            document.getElementById("all-content-div-margined").classList.remove("u-margin-right-2");
          }
          else {
            localStorage.removeItem('smallerWidth');     
            document.getElementById("all-content-div").classList.add("is-full-width");
            document.getElementById("all-content-div-margined").classList.add("u-margin-left-2");
            document.getElementById("all-content-div-margined").classList.add("u-margin-right-2");
          }
      };
      if (evt.action === 'height') {
        const navDisplaySetting = window.getComputedStyle(document.getElementById("expanded-masthead")).display;
        if (navDisplaySetting === "none") {
          localStorage.removeItem('fullHeight');
          globalNav.contextualData = contextualData;  // Show seoncary nav on Global Nav         
          globalNav.contextualIcons = contextualIcons;  // Show seoncary nav on Global Nav         
          document.getElementById("expanded-masthead").removeAttribute('hidden'); // Show title
          document.getElementById("arm-footer").removeAttribute('hidden');      // Show footer
          document.getElementById("only-breadcrumb-masthead").setAttribute('hidden',true); // Hide only breadcrumbs
          document.getElementById('global-nav-example-default').shadowRoot.querySelector('.fa-text-height').classList.replace("fal","fas"); // Update icon format

        }
        else {
          localStorage.setItem('fullHeight', 'true');      //Save user preference in storage
          globalNav.contextualData = [];  // Hide seoncary nav on Global Nav     
          globalNav.contextualIcons = [];  // Show seoncary nav on Global Nav         
   
          document.getElementById("expanded-masthead").setAttribute('hidden',true); // Hide title
          document.getElementById("arm-footer").setAttribute('hidden',true);      // Hide footer
          document.getElementById("only-breadcrumb-masthead").removeAttribute('hidden'); // Show just breadcrumbs
          document.getElementById('global-nav-example-default').shadowRoot.querySelector('.fa-text-height').classList.replace("fas","fal"); // Update icon format
        }
      };

    };
  })();



</script>





<!-- Search Submit handling -->
<script src="/js/search-and-filter/search-handling.js"></script>
<script>
      (() => { 
          document.querySelector('#search-box-tools-global-nav').searchSubmitHandler = searchSubmit_Tools;
      })();
</script>










