{{/*
Defines the Masthead element. Must be loaded dynamically by ADS, so a height placeholder also put in to avoid jumping.

Where it is used:
    - all, called from baseof
*/}}

<!-- No masthead on homepage, as that has a special gradient look/feel -->
{{ if .IsHome }}
{{else}}

  <div id="expanded-masthead">
    <ads-masthead theme="dark">
        {{partial "header/breadcrumbs.html" .}}

        <!-- Change title slightly for Tag entries -->
        {{ if eq .Kind "term" }}
          <h1 id="ads-masthead-title" slot="heading"><span>Tag: {{.Title}}</span></h1>
        {{else}}
          <h1 id="ads-masthead-title" slot="heading"><span>{{.Title}}</span></h1>
        {{end}}
    </ads-masthead>
  </div>

  <div id="only-breadcrumb-masthead" hidden>
      {{partial "header/breadcrumbs.html" .}}
  </div>

{{end}}