{{/*
  Defines the Masthead element. Must be loaded dynamically by ADS, so a height placeholder also put in to avoid jumping.
  
  Where it is used:
      - all, called from baseof
  */}}
  
  <!-- No masthead on homepage, as that has a special gradient look/feel -->
  {{ if .IsHome }}
     <div id="global-nav-height-fixer" class="nav-black">
        <arm-top-navigation observe="#breadcrumb-element"></arm-top-navigation> <!-- to set to all black all the time: observe="head" -->
    </div>
    <div id="only-breadcrumb-masthead">
        <div class="is-responsive-width">
            {{partial "header/breadcrumbs.html" .}}
        </div>
    </div>
  {{else}}

    <div id="nav-masthead-breadcrumbs">
        <!-- Global Nav -->
        <div id="global-nav-height-fixer" class="nav-transparent">
            <arm-top-navigation observe="#breadcrumb-element"></arm-top-navigation>    
        </div>
        <!-- Masthead -->
        <div id="expanded-masthead">
            <div class="is-responsive-width">
                <ads-masthead style="background-color: rgba(0,0,0,0)" theme="dark">
                    {{partial "header/breadcrumbs.html" .}}
            
                    <!-- Change title slightly for Tag entries -->
                    {{ if eq .Kind "term" }}
                        <h1 id="ads-masthead-title" slot="heading"><span>Tag: {{.Title}}</span></h1>
                    {{else}}
                        <h1 id="ads-masthead-title" slot="heading"><span>{{.Title}}</span></h1>
                    {{end}}
                </ads-masthead>
            </div>
        </div>
    </div>
    <!-- Hidden for now; bring back if we want to turn the masthead height shorter, but needs a different ID in breadcrumb component to make work. 
    <div id="only-breadcrumb-masthead" hidden>
        {{partial "header/breadcrumbs.html" .}}
    </div>
      -->
  {{end}}
