{{/*
A content page that acts as a wrapper for all install guide content, rendering different depending on what type of page it is.

Where it is used:
    - /install-guides/armclang/                 (single tool install)   most common
    - /install-guides/docker/                   (multi-tool main page)
    - /install-guides/docker/docker-engine/     (multi-tool sub page)

Called from:
    - baseof

Calls to:
    - partial general-formatting/metadata-table.html
    - partial general-formatting/github-links.html
    - partial navigation/content-navigation-mobile.html
    - partial general-formatting/external-link.html
    - partial general-formatting/feedback.html
    - partial general-formatting/feedback.html
*/}}

{{define "main"}}

<!-- Define variables for easier distribution into partials -->
{{ $thisdir := .File.Dir }}
{{ $thisfile:= .File.TranslationBaseName}}
{{ $toolfiles := slice }}
{{ $tools_software_languages := slice}}
{{ $main_tool_title := .Params.Title }}
{{ $active_tag := "" }}


    <!-- get all subpages in a multi-tool install -->
    {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
        {{ range .Site.Pages.ByWeight }}
            {{if .File}}
                {{ if (eq .File.Dir $thisdir)}}
                    {{ $toolfiles = $toolfiles | append . }}
                {{ end }}
            {{end}}
        {{end}} 
    {{end}}

    <!-- get list of names (urlized) of all tools_software_languages from across each learning path (cross platform already taken into account) -->
    {{ range where .Site.Pages "Params.maintopic" true}}
        {{range .Params.tools_software_languages_filter}}
            {{ range $key, $value := . }}
                {{ if in $tools_software_languages (urlize $key)}}
                {{else}}
                    {{ $tools_software_languages = $tools_software_languages | append (urlize $key) }}
                {{end}}
            {{ end }}
        {{end}}
    {{end}}  
    
    <!-- Update main_tool_title to primary in multi-tool setting -->
    {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
        {{ with .Site.GetPage $thisdir}}
            <!-- update -->
            {{ $main_tool_title = .Params.Title }}
        {{ end }}             
    {{end}}

    <!-- Check if there are any matching learning paths to this tool (or the main tool) -->
    {{ if in $tools_software_languages (.Title | urlize)}}
        {{ $active_tag = .Title }}
    {{ else if in $tools_software_languages ($main_tool_title | urlize) }}
        {{ $active_tag = $main_tool_title }}
    {{end}}

<div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-1">
    <!-- Left pane info -->
    <div class="c-col lg:c-col-3 xl:c-col-2 u-hide lg:u-display-block u-flex-shrink-0">
        <div class="left-nav-pane">
            <!-- Title top left -->
            <h6 id="install-guide-title" class="u-margin-top-1/2" style="font-size:1em; font-weight: normal;">{{ $main_tool_title }}</h6>

            <!-- GitHub links to edit / log an issue -->
            {{partial "general-formatting/github-links.html" .  }}
        </div>
    </div>


    <!-- Right pane, content-->
    <div class="c-col lg:c-col-9 xl:c-col-10">

        <!-- if multi-tool, Mobile only shown navigation - sticky header -->
        {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
            {{partial "navigation/content-navigation-mobile.html" (dict "context" .    "thisfile" $thisfile    "thisdir" $thisdir    "filesindir" $toolfiles)  }}
        {{end}}

        <!-- Markdown metadata shown in table for easier formatting  -->
        {{if .Params.multi_install}} 
            <!-- Don't show if mult-install main page, only on the content pages themselves -->
        {{else}}
            {{partial "general-formatting/metadata-table.html" .}}
        {{end}}

        <!-- Main content display-->
        <div class="content-box markdown-content-div">
            <!-- Content -->
            {{partial "general-formatting/markdown-content-formatting.html" .Content}}
        </div>

        <!-- Multi-tool routing to subtool pages, only for main multi_install page -->
        {{if .Params.multi_install}}
            <div class="content-box markdown-content-div">
                <h2>Select a specific tool for install instructions:</h2> 
                <div class="c-row">
                    <div class="c-col">
                        <div class="u-display-grid u-gap-1 md:u-grid-columns-2 lg:u-grid-columns-2 xl:u-grid-columns-3 xxl:u-grid-columns-3 u-margin-top-1">
                            {{range $index, $multi := $toolfiles}}
                                {{ if ne .File.TranslationBaseName "_index" }} 
                                    <div class="gradient-box">
                                        <ads-card class="multi-install-card" link="{{.Permalink}}">
                                            <ads-card-content slot="content">
                                                <h3 class="multi-tool-selection-title">{{.Title}}</h3>
                                            </ads-card-content>   
                                        </ads-card>
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <!-- Feedback at bottom -->
        {{if not .Params.multi_install}}
            <br>
            <div style="min-height: 350px;">
                <div class="c-row">
                    <div class="c-col">
                        {{partial "general-formatting/feedback.html" (dict "context" . "learningpath_or_toolinstall" "tool quick-install guide")  }}        
                    </div>
                </div>
            </div>   
        {{end}}         
    </div>
</div>


{{end}}