{{define "main"}}


{{ $tools_to_list := where .Site.Pages "Params.tool_install" true}}


<p class="u-margin-top-1 u-margin-left-1 u-margin-bottom-1/2 u-font-size-90%">
    Don't know a tool by name to search for? Try these common search terms:  
    <a href="/install-guides/?search=compiler">compiler</a>.
</p>

<ads-search class="u-margin-top-0" has-search-button id="search-box" placeholder="Search by tool name"></ads-search>

<!-- Bars containing Active Filter tags, how many content are displayed, and sorting info -->
{{ partial "general-formatting/list-tag-result-sort-bar.html" (dict "content_to_list" $tools_to_list "content_type" "tools")}} 


<div class="c-row">
    <div class="c-col">
        <div class="u-display-grid u-gap-1 xs:u-grid-columns-1 sm:u-grid-columns-2 md:u-grid-columns-3 lg:u-grid-columns-4 xl:u-grid-columns-5 u-margin-top-1">
            {{ range $tools_to_list}}
            <!-- Div used for search hiding-->
            <div class='search-div
                        {{ with .Params.additional_search_terms }}
                            {{range .}}
                                term-{{. | urlize}}
                            {{end}}
                        {{ end }}'>
                <ads-card has-hover-effect class="tool-card" link="{{.Permalink}}">
                    <ads-card-content class="tool-card-content u-margin-top-0 u-margin-bottom-0" slot="content">
                        <p class="search-title u-margin-top-0 u-margin-bottom-0 u-font-size-125%">{{.Title}}</p>
                    </ads-card-content>   
                </ads-card>
            </div>
            {{end}}
        </div>
        <div id="additional-search-term-container"></div>
    </div>
</div>

<!-- Include javascript to filter and search -->
<script src="/js/search-and-filter/search-logic.js"></script>
<script src="/js/search-and-filter/search-handling.js"></script>



<script>
    (() => {
        // Assign inputChangeHandler to search box
        const search_box = document.getElementById('search-box');
        search_box.inputChangeHandler = searchHandler_Tools;

        // Handle search term from URL
        let url_str = window.location.search;
        if (url_str.includes('search=')) {
            let search_string = parseParamsFromURL(url_str);

            // Call search handler to execute
            search_box.setAttribute('search-value',search_string);
            searchHandler_Tools(search_string);
        }
    })();
</script>





<style>

    ads-card.tool-card {
        height: 112px;
        --ads-card-border-width: 1px;
        --ads-card-border-color: var(--arm-black);
        --ads-card-border-color-hover: var(--arm-web-safe-orange);
        --ads-card-box-shadow-hover: 0 3px 6px 1px rgba(0,0,0,0.16);
    }

    ads-card-content.tool-card-content::before {
        background-color: var(--arm-web-safe-blue);
        content: '';
        height: calc(100% + 2px);
        left: -1px;
        position: absolute;
        top: -1px;
        transition: background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        width: 12px;
      }
      html[theme="dark"] ads-card-content.tool-card-content::before {
        background-color: var(--arm-blue);
      }

    

      ads-card.tool-card:hover ads-card-content.tool-card-content::before {
        background-color: var(--arm-web-safe-orange);
      }
      ads-card.tool-card p {
        color: var(--arm-web-safe-blue);
        margin-left: 8px;
        transition: color;

        transition: margin-left;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      html[theme="dark"] ads-card.tool-card p {
        color: var(--arm-light-blue);
      }

      ads-card.tool-card:hover p {
        color:var(--arm-web-safe-orange);
        margin-left: 12px;
      }
      html[theme="dark"]       ads-card.tool-card:hover p {
        color:var(--arm-web-safe-orange);
      }
    
    </style>





{{end}}
