{{/*
A list page that shows all Tool Install Guide pages.

Where it is used:
    - /install-guides/

Called from:
    - baseof

Calls to:
    - partial general-formatting/list-tag-result-sort-bar.html
*/}}

{{define "main"}}

<!-- Get all tool install pages -->
{{ $tools_to_list := where .Site.Pages "Params.tool_install" true}}

<!-- Filter replacement: List of additional search terms -->
<p class="u-margin-top-1 u-margin-left-1 u-margin-bottom-1/2 u-font-size-90%">
    Don't know a tool by name to search for? Try these common search terms:  
    <a href="/install-guides/?search=compiler">compiler</a>.
</p>

<ads-search class="u-margin-top-0" has-search-button id="search-box" placeholder="Search by tool name"></ads-search>

<!-- Bars containing Active Filter tags, how many content are displayed, and sorting info -->
{{ partial "general-formatting/list-tag-result-sort-bar.html" (dict "content_to_list" $tools_to_list "page_type" "tools")}} 


<!-- Page wrapping row and column -->
<div class="c-row">
    <div class="c-col">
        <div class="u-display-grid u-gap-1 xs:u-grid-columns-1 sm:u-grid-columns-2 md:u-grid-columns-3 lg:u-grid-columns-4 xl:u-grid-columns-5 u-margin-top-1">
            {{ range $tools_to_list}}
              <!-- div used for search hiding via additional search terms -->
              <div class='search-div
                          {{ with .Params.additional_search_terms }}
                              {{range .}}
                                  term-{{. | urlize}}
                              {{end}}
                          {{ end }}'>
                  <ads-card has-hover-effect class="tool-card" link="{{.Permalink}}">
                      <ads-card-content class="tool-card-content" slot="content">
                          <p class="search-title install-guide-title">{{.Title}}</p>
                      </ads-card-content>   
                  </ads-card>
              </div>
            {{end}}
        </div>
    </div>
</div>

<!-- Include javascript to filter and search -->
<script src="/js/search-and-filter/search-logic.js"></script>
<script src="/js/search-and-filter/search-handling.js"></script>



<script>
    (() => {
        // Assign inputChangeHandler to search box
        const search_box = document.getElementById('search-box');
        search_box.inputChangeHandler = searchHandler_Tools;

        // Handle search term from URL
        let url_str = window.location.search;
        if (url_str.includes('search=')) {
            let search_string = parseParamsFromURL(url_str);

            // Call search handler to execute
            search_box.setAttribute('search-value',search_string);
            searchHandler_Tools(search_string);
        }
    })();
</script>


{{end}}
