
{{partial "general-formatting/prismjs-codeblock.html" (dict "input_from" "normal"
                                                            "code" .Inner
                                                            "language" .Type
                                                            "line_numbers" .Attributes.line_numbers 
                                                            "output_lines" .Attributes.output_lines
                                                            "command_line" .Attributes.command_line) }}