.ct-legend {
    position: relative;
    z-index: 10;
}

.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
}

.ct-legend li:before {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 6px;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-legend.ct-legend-inside {
    /*position: absolute;
    top: 0;
    right: 0;
    */
    list-style-type: none; /* don't show bullets */
}

.ct-legend .ct-series-0:before {
    background-color: red; 
    border-color: red; 
}

.ct-legend .ct-series-1:before {
    background-color: blue; 
    border-color: blue;
}

.ct-legend .ct-series-2:before {
    background-color: green;
    border-color: green;
}

.ct-legend .ct-series-3:before {
    background-color: yellow;
    border-color: yellow;
}

.ct-legend .ct-series-4:before {
    background-color: orange;
    border-color: orange;
}

.ct-legend .ct-series-5:before {
    background-color: aqua;
    border-color: aqua;
}

.ct-legend .ct-series-6:before {
    background-color: navy;
    border-color: navy;
}

.ct-legend .ct-series-7:before {
    background-color: saddlebrown;
    border-color: saddlebrown;
}

.ct-legend .ct-series-8:before {
    background-color: fuchsia;
    border-color: fuchsia;
}

.ct-legend .ct-series-9:before {
    background-color: lightblue;
    border-color: lightblue;
}
