.width-max-content {
    width: max-content;
}
td.nowrap {
    white-space: nowrap;
}

.learning-path-metadata .td-metadata-key,
.learning-path-metadata .td-metadata-value {
    border-top: 0;
    border-bottom: 0;
}

.td-metadata-key {
    height: fit-content;
    padding: 0px;
    margin: 0px;
    vertical-align:top;
}

.td-metadata-value {
    height: fit-content; 
    width: fit-content; 
    padding: 0px; 
    margin: 0px; 
    padding-left: 8px;
}

.margin-l-0 {
    padding-left: 0px!important;
}
.margin-l-12 {
    padding-left: 12px!important;
}
.margin-l-24 {
    padding-left: 24px!important;
}

.author-social-icon {
    padding-left: 12px;
}
