/*********************************************************************            
        Fonts
                Heading: Noi Grotesk
                Subheading: Source Code
                Body: Lato
        Background colors

**********************************************************************/




/* UNIVERSAL FONTS */
/****************************************************/
/* Ignored for now, adding in head.html via google fonts. Can use this locally to optimize if needed */


/* Lato font get from local fonts folder, not fonts.google.com as it loads facebook/youtube tracking data */
    /* Normal, Italic, Bold 
        300, 400, 500 */

/*
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/LatoLatin-Light.woff2') format('woff2'),
         url('../fonts/LatoLatin-Light.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LatoLatin-Regular.woff2') format('woff2'),
         url('../fonts/LatoLatin-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/LatoLatin-Medium.woff2') format('woff2'),
         url('../fonts/LatoLatin-Medium.ttf') format('ttf');
  }
  
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/LatoLatin-LightItalic.woff2') format('woff2'),
         url('../fonts/LatoLatin-LightItalic.ttf') format('ttf');
  }  
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/LatoLatin-Italic.woff2') format('woff2'),
         url('../fonts/LatoLatin-Italic.ttf') format('ttf');
  }  
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/LatoLatin-MediumItalic.woff2') format('woff2'),
         url('../fonts/LatoLatin-MediumItalic.ttf') format('ttf');
  }
*/


/* UNIVERSAL */
/****************************************************/

/* ADS FIXES */
/***************************************************/
/* Font size hardcoding to fix ADS */
ads-tag div {
    font-size: 14px!important;
}
p,
li,
code,
div,
table,
input,
label {
    font-size: 16px!important;
}
/* Overwrite paragraph / heading colors immediatly 
:root {
    --ads-font-family:Lato, sans-serif; 
    --ads-color: hsla(0,0%,100%,.9);
    --ads-heading-color: hsla(0,0%,100%,.9);
}
*/

/* Fix Search Height and pdding*/
ads-search#search-box {
    min-height: 45px;
}
/*in install guides provide spacing to search field from left and right*/
ads-search#search-box.install-guide{
    padding-left: 14px;             
    padding-right: 14px;
}
ads-search {
    --ads-search-button-background-color: var(--arm-color-base);
}

/* Colors of buttons & links to match DevHub styling */
ads-button {
    /* primary */
    --ads-button-background-color-primary-hover: var(--arm-green);
    --ads-button-border-color-primary-hover: var(--arm-green);

    /* secondary */
    --ads-button-border-color-secondary-hover: var(--arm-green);
    --ads-button-color-secondary-hover: var(--arm-green);

    /* tertiary */
    --ads-button-border-color-tertiary-hover: var(--arm-green);
    --ads-button-color-tertiary-hover: var(--arm-green);
}
ads-cta-button {
      /* primary */
      --ads-cta-button-background-color-primary-hover: var(--arm-green);
      --ads-cta-button-border-color-primary-hover: var(--arm-green);
  
      /* secondary */
      --ads-cta-button-border-color-secondary-hover: var(--arm-green);
      --ads-cta-button-color-secondary-hover: var(--arm-green);
  
      /* tertiary */
      --ads-cta-button-border-color-tertiary-hover: var(--arm-green);
      --ads-cta-button-color-tertiary-hover: var(--arm-green);  
}

/* button, form submit syntax */
input[type="submit"]:hover {
    background-color: var(--arm-green);
    border-color: var(--arm-green);
    box-shadow: none;
}
ads-tag {
    --ads-tag-border-color-hover: var(--arm-green);
    --ads-tag-color-hover: var(--arm-green);
}

/* Remove text decorations on all a links when highlighted */
a:hover {
    text-decoration: none;
    color: var(--arm-green);
}
ads-cta-link {
    --ads-cta-link-color-hover: var(--arm-green);
}
ads-search {
    --ads-search-border-color-hover: var(--arm-green);
    --ads-search-border-color-focus: var(--arm-green);
    --ads-search-button-color-hover: var(--arm-green);
    --ads-search-input-color-focus: var(--arm-green);
    --ads-search-input-clear-color-hover: var(--arm-green);
}
/* counter ADS table defaults */
table {
    background-color: transparent;
    border-color: transparent;  
}
table tbody td {
    border-top: transparent;
}



/* Fix Nav Masthead Breadcrumb container */
/*************************************/
#nav-masthead-breadcrumbs {
    background-image: url("/img/masthead-background.webp"); /* The image used */
    background-color: var(--arm-color-footing);            /* Used if the image is unavailable */
    background-size: cover;
}




/* Fix global nav height */
/*************************************/
#global-nav-height-fixer {
    max-width: 100vw;
    min-height: 80px;
    position: relative;
    top: 0;
}
@media (max-width: 1024px) { /* smaller screens than LG */
        #global-nav-height-fixer {
            min-height: 60px;
        }
}
.nav-transparent {
    background: transparent;
    background-color: transparent;
}
.nav-black {
    background: #010101;
    background-color: #010101;  
}


/* Fix Masthead Height */
#expanded-masthead  {
        background-color: transparent;
        height: 105px;                      /* You must set a specified height */
        background-position: center;        /* Center the image */
        background-repeat: no-repeat;       /* Do not repeat the image */
        background-size: cover;             /* Resize the background image to cover the entire container */
        border-bottom: 1px solid #303133; /* bottom border across page */
}
@media (max-width: 768px) { /* smaller screens than MD */
    #expanded-masthead {
        height: 90px;                      /* You must set a specified height */
    }
}
/* remove bottom border from ads-masthead component */
ads-masthead {
    --ads-masthead-border-bottom-color: transparent;
}
    


ads-breadcrumbs {
    --ads-breadcrumb-color: var(--arm-green);
    --ads-breadcrumbs-link-color: var(--arm-green);
    --ads-breadcrumbs-link-color-visited: var(--arm-green);
}


/* Hide breadcrumb when small screen. */
 @media (max-width: 576px) {
        #breadcrumb-element {
                visibility: hidden !important;
                height: 0px;
        }
}

/* Replicate style of breadcrumb in masthead when alone. */
#only-breadcrumb-masthead {
    width: 100%;
    background-color: var(--arm-color-footing);
    padding-top: 8px;
    padding-left: 15px; /* u-padding-left-2-1/2 */
    padding-bottom: 8px; 
}



/*************************************/
/* Beta tag                         */
#beta-tag {
    font-size: 12px!important;

    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: rgba(149, 214, 0, 0.25); /* var(--arm-green) with 25% transparency */
    border-color: rgba(0, 193, 222, 0.25); /* var(--arm-light-blue) with 25% transparency */

    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    width: fit-content;
    height: fit-content;

    background: -webkit-linear-gradient(left,var(--arm-green), var(--arm-light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.beta-homepage {
    vertical-align: top;
    display:inline-block;
}
.beta-masthead {
    right: 16px; 
    position: absolute; 
    top: 40px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/*************************************/
/* Simple Div container JUST for border gradient outline. */
.gradient-box {
    /*display: inline-block;*/
    position: relative;
    border-radius: 10px;
    z-index:1;
  }

.gradient-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -1px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, #95D629, #20C1DE);
    opacity: 0;
    transition: opacity 0.3s ease; 
}
.gradient-box:hover::before {
    opacity: 1;
}



.gradient-box-tool {
    /*display: inline-block;*/
    position: relative;
    border-radius: 0px;
    z-index:1;
  }

.gradient-box-tool::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    left: 2px;
    margin: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, #95D629, #20C1DE );
    opacity: 0;
    transition: opacity 0.3s ease; 
}
.gradient-box-tool:hover::before {
    opacity: 1;
}




html[theme="dark"] .orchard-breeze-text {
    background: -webkit-linear-gradient(left,var(--arm-green), var(--arm-light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html[theme="dark"] .fullbourn-sunrise-text {
    background: -webkit-linear-gradient(left,var(--arm-yellow), var(--arm-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html[theme="dark"] .minhang-mist-text {
    background: -webkit-linear-gradient(left,var(--arm-light-blue), var(--arm-light-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


  

/*************************************/
/* Table overflow for all tables     */
.table-wrapper-for-overflow {
    width: 100%;
    overflow-x: auto;
    margin-top: 24px;
}


/* Make all links in paragraphs underlined 
p > a, li > a, td > a {
    text-decoration: underline;
}
*/


/* Light Theme */
/****************************************************/
html[theme='light'] body {
    background-color: white;
    --ads-table-border-color: white!important;
}

/* Dark Theme */
/****************************************************/
/* Mobile background */
@media (max-width: 768px) {
    html[theme='dark'] body {
        background-image: url("/img/bg-img-736x800.webp"); 
        background-color: var(--arm-color-footing);      
        background-position: 0% 100%;
        background-attachment: fixed;
        background-size: 100% 100%;         /* Forces smaller width; best solution for mobile sizes */
    } 
}
/* Laptop background */
@media (min-width: 768px) {
    html[theme='dark'] body {
        background-image: url("/img/bg-img-1920x1600.webp");
        background-color: var(--arm-color-footing);      
        background-position: 0% 100%;
        background-attachment: fixed;
        background-size: cover;             /* Stretches image to fit; best solution for desktop sizes */
    } 
}

/* Large Monitor background */
@media (min-width: 1400px) {
    html[theme='dark'] body {
        background-image: url("/img/bg-img-2500x1700.webp");
        background-color: var(--arm-color-footing);      
        background-position: 0% 100%;
        background-attachment: fixed;
        background-size: cover;             /* Stretches image to fit; best solution for desktop sizes */
    } 
}


.is-responsive-width {
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}
@media (min-width: 768px) {
    .is-responsive-width {
        max-width: 70rem !important
    }
}
@media (min-width: 992px) {
        .is-responsive-width {
                max-width: 70rem !important
        }
}
@media (min-width: 1200px) {
        .is-responsive-width {
                max-width: 83rem !important
        }
}

@media (min-width: 768px) {
        ads-masthead { --ads-masthead-horizontal-padding: 8px; }
}
@media (min-width: 992px) {
        ads-masthead { --ads-masthead-horizontal-padding: 10px; }
}
@media (min-width: 1200px) {
        ads-masthead { --ads-masthead-horizontal-padding: 5px; }
}





