#demo-container {
    background-color: #516170;
    border: 5px solid #6B747D;

    margin-top: 16px;

    min-width: 200px;
    min-height: 200px;
    text-align: center;
}

#modal-diagram-expansion {
    --ads-modal-content-height: 3000px;
    --ads-modal-content-max-height: 2000px;   
}



/******************************************************/
/* Configuration section */


.eq-width-cols {
    max-width: calc(100% / var(--column-count)); /* Calculate the max-width based on the number of columns */
}
@media (min-width: 992px) { /* lg */
    .eq-width-cols {
        max-width: calc(100% / var(--column-count));  /* Calculate the max-width based on the number of columns */
    }
}

@media (max-width: 576px) { /* xs */
    .eq-width-cols {
        max-width: 100%;
        flex-basis: 100%; /* Stacks the columns vertically on smaller screens */
    }
}


.spcs-div {
    min-height: 50px;
}
.config-specs {
    margin-left: 8px;
    margin-top: 8px;
}
















#all-messages-div {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding-top: 16px;
}







#input-and-submit {
    display: flex;
    align-items: center;
    width: 100%;
}



#user-input-for-demo {
    width: 100%;
    flex-grow: 1;
    padding: 10px;

    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: hidden;

    font-family: (--ads-font-family);
}
#user-input-for-demo::placeholder {
    color: darkgrey;

    font-family: (--ads-font-family);
}


#submit-button {
    margin-left: 10px;
    flex-shrink: 0;
}



#reset-demo-txt {
    margin-top: 8px;
    float: left;
    color: var(--arm-light-blue);
    text-decoration: underline;
    cursor: pointer;
}
#reset-demo-txt:hover {
    color: var(--arm-green);
}

.user-message {
    background-color: #545454;
    border-radius: 20px;
    width: fit-content;
    max-width: 70%;
    align-self: flex-end; /* float right */

    margin-right: 16px;
    margin-bottom: 16px;

    
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;

    /* text alignment */
    text-align: left;
    font-size: 18px!important;

    /* Enable fade in */
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.chatbot-message {
    background-color: transparent;
    border-radius: 20px;
    width: 90%;
    /*align-self: flex-end; */

    display: flex; 
    align-items: flex-start;

    margin-left: 16px;
    margin-bottom: 16px;
    
    padding: 8px;
    padding-left: 16px;

    /* text alignment */
    text-align: left;
    font-size: 18px!important;
}

























/**************************************************/
/*      Graphing */
.chart-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  .bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
    color: white;
    line-height: 50px;
    font-weight: bold;
  }
  
  .context-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: red;
    text-align: center;
    font-size: 12px;
    color: red;
    transform: translateX(-50%);
  }
  