


/*********************************************************************            

        Main Topic Cards

**********************************************************************/

ads-card.main-topic-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
}

html[theme='dark'] ads-card.main-topic-card {
    --ads-card-background-color: var(--arm-color-overlay-dark);
    --ads-card-border-color: var(--arm-black);

    --ads-card-background-color-hover: var(--black);
    --ads-card-border-color-hover: var(--arm-web-safe-orange);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(255, 255, 255, 0.25);
}

html[theme='light'] ads-card.main-topic-card{
    --ads-card-background-color: var(--arm-light-grey-alt);
    --ads-card-border-color: var(--arm-light-grey);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-border-color-hover: var(--arm-orange);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
}


/* Title styling */
/**************************************/
ads-card.main-topic-card  .main-topic-title {
    color: var(--arm-blue);
}

ads-card.main-topic-card:hover  .main-topic-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-web-safe-orange);
}


/* Subtitle styling */
/**************************************/
ads-card.main-topic-card  .main-topic-subtitle {
    color: var(--arm-black);
    font-family: "Source Code Pro", monospace;   
}

html[theme='dark'] ads-card.main-topic-card  .main-topic-subtitle {
    color: var(--arm-light-grey); 
}



/* Install Guide cta link */
/**************************************/
.install-guide-cta {
    --ads-cta-link-color: var(--arm-light-blue); /* #107a97 slightly darker web safe blue */
}


/* Header formatting and spacing */
/**************************************/
.homepage-top-divs {
    width:fit-content;  
    margin: 0 auto;
    text-align: center;
}
.homepage-top-desc {
    margin-bottom: 32px;
}

#homepage-header {
    margin-top: 32px;
    margin-bottom: 0px;
    font-size: 75px;
    padding-bottom: 16px;
    text-align: center;
}


html[theme="dark"] #homepage-header {
    background: -webkit-linear-gradient(left,var(--arm-green), var(--arm-light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}