


/*********************************************************************            

        Main Topic Cards

**********************************************************************/

ads-card.main-topic-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
}

html[theme='dark'] ads-card.main-topic-card {

    --ads-card-background-color: var(--arm-color-base);
    --ads-card-border-color: #000000;
    --ads-card-box-shadow:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
    
    /* hover state */
    --ads-card-background-color-hover: var(--arm-color-base);
    --ads-card-border-color-hover: transparent;
    --ads-card-box-shadow-hover:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */


}

html[theme='light'] ads-card.main-topic-card{
    --ads-card-background-color: var(--arm-light-grey-alt);
    --ads-card-border-color: var(--arm-light-grey);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-border-color-hover: var(--arm-orange);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
}

.maintopic-content {
    text-align: left;
}

.maintopic-image {
    /*width: 124px;*/
    /*height: 70px;*/
    height: 50px;
}

/* Title styling */
/**************************************/
ads-card.main-topic-card  .main-topic-title {
    color: var(--arm-light-blue);
}

ads-card.main-topic-card:hover  .main-topic-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-green);
}


/* Subtitle styling */
/**************************************/
ads-card.main-topic-card  .main-topic-subtitle {
    color: var(--arm-black);
    font-family: "Source Code Pro", monospace;
    font-weight: lighter;
}

html[theme='dark'] ads-card.main-topic-card  .main-topic-subtitle {
    color:  #A3A8AE;
}



/* Install Guide cta link */
/**************************************/
.install-guide-cta {
    --ads-cta-link-color: var(--arm-light-blue); /* #107a97 slightly darker web safe blue */
}


.homepage-or {
    margin-left: 16px;
    margin-right: 16px;
}
/* Hide 'or' when small screen. */
@media (max-width: 576px) {
    .homepage-or {
            display: none!important;
    }
}


/* Header formatting and spacing */
/**************************************/
#title-div {
    padding-top: 32px;
}

.homepage-top-divs {
    width:fit-content;  
    margin: 0 auto;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;

}
.homepage-top-desc {
    margin-bottom: 32px;
}

#homepage-header {
    margin-top: 0px;
    margin-bottom: 0px;
/*    font-size: 75px; */
    padding-bottom: 16px;
    display: inline-block;
}


html[theme="dark"] .orchard-breeze-text {
    background: -webkit-linear-gradient(left,var(--arm-green), var(--arm-light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}









/*******************************/
/* Table styled */


table.contributor-table {
    width: fit-content;
    margin: 0 auto; /* center hor */
}

table.contributor-table td { 
    padding-right: 16px;
}

table.contributor-table th { 
    padding-right: 16px;
    background-color: #A3A8AE; 
    color: black;
}
table.contributor-table tbody { 
    background-color: var(--arm-color-base); 
}

