/*
Covers the following pages:
    - /learning-paths/:category/  5x
    - /install-guides/            1x
    - /tag/:slug/                 many!   term.html
*/



/* Search / Status bar for active filters, # displayed, and sorting 
*******************************************************************/ 
#result-sort-div {
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 8px;         /*provide spacing to filter result from right field from right*/
    padding-left: 8px;          /*provide spacing to filter result from right field from left*/
}

#current-tag-bar {
    min-height: 48px;

    margin-top: 4px;
    margin-right: 16px;         /*provide spacing to filter tag from right field from left*/
    margin-left: 16px;          /*provide spacing to filter tag from left field from left*/
}

#results-status-bar {
    min-height: 30px;
    float: left;    

    margin-top: 4px;
}

.num-of-paths-text {
    font-size: 18px!important;
    font-weight: bold;
}

#sorting-bar {
    float: right;
}

#tag-preface {
    color: #6f777c;
    display: inline-flex;
    padding-top: 9px; /* aligning center of tags */
}
html[theme="dark"] #tag-preface {
    color: #a3a8ae;
}


#tag-clear-btn {
    float: right;
    padding-top: 7px; /* aligning center of tags */
    cursor: pointer;
    color: var(--arm-web-safe-blue);
}
html[theme="dark"] #tag-clear-btn {
    color: var(--arm-light-blue);
}

#tag-clear-btn:hover { 
    color: var(--arm-web-safe-orange);
}
html[theme="dark"] #tag-clear-btn:hover { 
    color: var(--arm-web-safe-orange);
}

.sorting-criteria.active {
    position: relative;
    padding-bottom: 2px;
    border-bottom: 2px solid #333e48;
}

html[theme="dark"] .sorting-criteria.active {
    border-bottom: 2.2px solid hsla(0,0%,100%,.9);
}

.filter-facet {
    --ads-tag-background-color: #fff;
    --ads-tag-background-color-hover: #f7f7f7;
    --ads-tag-border-color: 1px solid #5d6c7a;
    --ads-tag-border-color-hover: 1px solid #11809f;
    --ads-tag-color: #5d6c7a;
    --ads-tag-color-hover: #11809f;
}
html[theme="dark"] .filter-facet {
    --ads-tag-background-color: #1F2023;
    --ads-tag-background-color-hover: #1a1a1a;
    --ads-tag-border-color: 1px solid #e5eceb;
    --ads-tag-border-color-hover: 1px solid #00c1de;
    --ads-tag-color: #fff;
    --ads-tag-color-hover: #11809f;
}


#divider-line {
    border-top: 1px solid var(--ads-search-border-color);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}


/* Adjust elements when on small screen to fit better */
@media (max-width: 480px) {
    #tag-preface {
        display: none;
    }
    #current-tag-bar {
        min-height: auto;
    }
    #results-status-bar {
        width: 100%;
        margin-bottom:10px;
    }
    #sorting-bar {
        float: left!important;
    }
}


/* Filter column
*******************************************************************/ 
.filter-column-div {
    /* Ensures left-hand column filter is always at a consistent width (hidden at mobile size via ads) */
    width: 320px;
    max-width: 320px;
}

ads-expansion-panel.learning-path-filters {
    --ads-expansion-panel-border-color: var(--arm-light-grey);

    --ads-expansion-panel-content-background-color: var(--white);
    --ads-expansion-panel-toggle-background-color: var(--white);
    --ads-expansion-panel-toggle-background-color-hover: var(--white);

}

html[theme='dark'] ads-expansion-panel.learning-path-filters {
    --ads-expansion-panel-border-color: var(--arm-color-footing);
    --ads-expansion-panel-content-background-color: var(--arm-color-footing);
    --ads-expansion-panel-toggle-background-color: var(--arm-color-footing);
    --ads-expansion-panel-toggle-background-color-hover: var(--arm-color-footing);

    --ads-expansion-panel-toggle-icon-color-hover: var(--arm-green);
}

/* mobile facets styling */
div#facets-background > ads-expansion-panel.learning-path-filters {
    --ads-expansion-panel-border-color: var(--arm-color-base);
    --ads-expansion-panel-content-background-color: var(--arm-color-base);
    --ads-expansion-panel-toggle-background-color: var(--arm-color-base);
    --ads-expansion-panel-toggle-background-color-hover: var(--arm-color-base);   
}


ads-checkbox {
    --ads-checkbox-margin-left: 0px;
}

.open-filter-container {
    /* set max height & scrolling */
    max-height: 300px;   
    overflow:auto;
    /* align scrollbar with ads component */
    margin-right: -16px
}



/* Learning Path Card styling 
*******************************************************************/   
ads-card.path-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
    --ads-card-border-color: var(--arm-light-grey-alt-2);
    --ads-card-background-color: var(--arm-light-grey-alt);

    --ads-card-border-color-hover: var(--arm-web-safe-orange);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-box-shadow-hover: 0 3px 6px 1px rgba(0,0,0,0.16);  /* 0 1px 3px 3px rgba(0,0,0,0.25); */
}
html[theme='dark'] ads-card.path-card {
    --ads-card-background-color: var(--arm-color-base);
    --ads-card-border-color: #000000;
    --ads-card-box-shadow:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
    
    /* hover state */
    --ads-card-background-color-hover: var(--arm-color-base);
    --ads-card-border-color-hover: transparent;
    --ads-card-box-shadow-hover:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
}


.basics-title:hover {
    transition: color 0.3s ease-in-out;
    color: var(--arm-green);
    cursor: pointer;
}

ads-card.path-card:hover  .learning-path-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-green);
}

/* adjust height depending on screen size */
ads-card.path-card .learning-path-title-div { /* xs and sm */
    min-height: 50px;
}
@media (min-width: 768px) { /* md and up */
    ads-card.path-card .learning-path-title-div {
        min-height: 70px;
    }
}


.card-subject {
    color: #A3A8AE;
    font-size: 0.9rem!important;
}

html[theme="light"] .learning-path-title, html[theme="light"] .basics-title {
    color: var(--arm-web-safe-blue);
}
.learning-path-title, .basics-title {
    color: var(--arm-light-blue);
    /*font-weight: bold;
    font-size:1.25rem;
    */
    font-weight: 500;

    margin-top: 0px;
    margin-bottom: 4px;
}

.basics-title {
    margin: 0;
}
.card-tag-details {
    font-size: 0.9rem!important;
    font-family: 'Source Code Pro', monospace;
}
.card-date {
    color: #A3A8AE;
    font-size: 0.9rem!important;
}


/* Install Guide card styling 
*******************************************************************/   
.install-guide-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25rem!important;
}


ads-card.tool-card {
    height: 112px;
    --ads-card-border-radius: 0px;
    --ads-card-border-width: 1px;    
}


html[theme='dark'] ads-card.tool-card {
    --ads-card-background-color: var(--arm-color-base);
    --ads-card-border-color: #000000;
    --ads-card-box-shadow: #000 @50%, X:0 Y: 3 B:12;     /* shadow likely not working */


    --ads-card-background-color-hover: var(--arm-color-base);
    --ads-card-border-color-hover: transparent;
    --ads-card-box-shadow-hover: #000 @50%, X:0 Y: 3 B:12; /* 0 3px 6px 1px rgba(0,0,0,0.16);*/
}

ads-card-content.tool-card-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

ads-card-content.tool-card-content::before {
    background-color: var(--arm-web-safe-blue);
    content: '';
    height: calc(100% + 2px);
    left: -1px;
    position: absolute;
    top: -1px;
    transition: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 12px;
  }
  html[theme="dark"] ads-card-content.tool-card-content::before {
    background-color: var(--arm-blue);
  }



  ads-card.tool-card:hover ads-card-content.tool-card-content::before {
    background-color: var(--arm-green);
  }
  ads-card.tool-card p {
    color: var(--arm-web-safe-blue);
    margin-left: 8px;
    transition: color;

    transition: margin-left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  html[theme="dark"] ads-card.tool-card p {
    color: var(--arm-light-blue);
  }

  ads-card.tool-card:hover p {
    color:var(--arm-green);
    margin-left: 12px;
  }
  html[theme="dark"]       ads-card.tool-card:hover p {
    color:var(--arm-green);
  }









/* Module Card 
         not currently used, but could be for guided learning
*******************************************************************/   
ads-card.module-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;

    --ads-card-border-color: var(--arm-light-grey-alt-2);
    --ads-card-border-color-hover: var(--arm-light-grey-alt-2);

    --ads-card-background-color: var(--arm-light-grey-alt);
    --ads-card-background-color-hover: var(--arm-light-grey-alt);

}
html[theme='dark'] ads-card.module-card {
    --ads-card-border-color: var(--arm-black);
    --ads-card-border-color-hover: var(--arm-black);

    --ads-card-background-color: var(--arm-color-overlay-dark);
    --ads-card-background-color-hover: var(--arm-color-overlay-dark);
}

.module-card-a:hover {
    text-decoration: none;
}
.module-card-a {
    color: var(--arm-blue);
}
.module-card-a:hover {
    color: var(--arm-web-safe-orange);;
}

.module-card-subtitle {
    color: var(--arm-dark-grey);
    font-size: 0.9rem;
}
/***********************************/   
