

/*****************************************************************
      
        Mobile styling 

*****************************************************************/

div.overlay-styling {
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}


/* Basic behavior of overlay and z-indexing components */
ads-button#filter-button.is-open { z-index: 5;}

html[theme='dark']   div#facets-background { background-color: var(--arm-color-surface); }
html[theme='light']  div#facets-background { background-color: var(--arm-light-grey-alt);}
html[theme='sw-hub'] div#facets-background { background-color: var(--arm-light-grey-alt);}



/************ 
    Content pages only (non-list)
*************/



/* overall mobile container */
div.content-head-container-mobile {
    position:sticky; 
    top:57px; /* Sticky to top, leaving space for global nav */
    z-index: 4;
    width: 100%;
}

/* Sticky header div, not including expanded nav pane */
div.content-head-mobile {
    /* always give position  and high z-index as always prominient */
    position: relative;
    z-index: 4;

    display: flex;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--arm-dark-grey);

    background-color: var(--arm-light-grey);
}
html[theme='dark'] div.content-head-mobile {
    border-color: rgba(163, 168, 174,0.25); /* #A3A8AE at 25% transparency */
    background-color: rgb(23,25,27);;  /* CLOSE to this, but not due to close to gradient background. var(--arm-color-base) at 75% transparency */
}

/* sticky header icon and text styling */
ads-button.content-header-btn-mobile {
    --ads-button-background-color-tertiary: var(--arm-blue);
    --ads-button-background-color-tertiary-focus: var(--arm-blue);
    --ads-button-border-color-tertiary: var(--arm-blue);
    --ads-button-border-color-tertiary-focus: var(--arm-blue);
    --ads-button-color-tertiary: var(--arm-blue);
    --ads-button-color-tertiary-focus: var(--arm-blue);
    cursor: pointer;
}


.content-header-txt-mobile {
    font-weight: bold;
}

/* ensure dropdown menu appears in the right location and is visible */
div.facets-positioning-container {
    position: absolute;
    width: 100%;
    z-index: 5; 
    
    right: 0px;
}

.content-individual-mobile {
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    border-color: var(--arm-dark-grey);
    background-color: var(--arm-light-grey-alt-2);
}
html[theme='dark'] .content-individual-mobile {
    border-color: var(--arm-black); /* rgba(163, 168, 174,1); #2A2B2D; */
    background-color: rgb(23,25,27);  /* CLOSE to this, but hard coded as they are close to background gradient var(--arm-color-base) at 75% transparency */
}

html[theme='dark']  .content-individual-mobile.active {
    border-color: var(--arm-light-blue);
}
.content-individual-txt-mobile.active { color: var(--arm-light-blue); }


/* #content-table-of-contents-mobile.inactive:hover { border-color: var(--arm-green); } */
.content-individual-txt-mobile { margin: 0px; }