{{/*
Arm ADS footer, from the ADS example.

Where it is used:
    - all

Called from:
    - baseof (the end)
*/}}

<div id="arm-footer">
  <ads-footer class="u-margin-top-2" id="footer-example-default"zz>
      <div slot="logo" class="u-flex u-align-self-start u-justify-content-end u-hide md:u-display-flex" style="width: 100%;">
        <img style="max-width: 90px; max-height: 28px;" src="https://www.arm.com/-/media/global/logos/arm-logo-white-rgb.svg?revision=d98f22d3-09c8-4813-a9d8-434c89710774&amp;la=en&amp;hash=AF0BF14FED9A3730164D627E38F07C7E9198BCEC" alt="Arm logo" />
      </div>
      <div slot="copyright-section">Copyright © 1995-2023 Arm Limited (or its affiliates). All rights reserved.</div>
  </ads-footer>
</div>
