{{/*
Arm ADS footer, from the ADS example.

Where it is used:
    - all

Called from:
    - baseof (the end)
*/}}

<div id="arm-footer">
  <ads-footer class="u-margin-top-2" id="footer-example-default"zz>
      <div slot="logo" class="u-flex u-align-self-start u-justify-content-end u-hide md:u-display-flex" style="width: 100%;">
        <img style="max-width: 90px; max-height: 28px;" src="https://www.arm.com/-/media/global/logos/arm-logo-white-rgb.svg?revision=d98f22d3-09c8-4813-a9d8-434c89710774&amp;la=en&amp;hash=AF0BF14FED9A3730164D627E38F07C7E9198BCEC" alt="Arm logo" />
      </div>
      <div slot="copyright-section">Copyright © 1995-2023 Arm Limited (or its affiliates). All rights reserved.</div>
  </ads-footer>
</div>

<!-- ADS needs dynamic component creation inline; on same  HTML page for ease of understanding. -->
<script>
    (() => {
        document.getElementById('footer-example-default').data = {
          sections: [
            {
              sectionHeader: {
                link: 'https://www.arm.com/products',
                text: 'Products',
              },
              sectionLinks: [
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/iot' },
                  text: 'IoT Solutions',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/silicon-ip-cpu' },
                  text: 'Arm Processors',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/silicon-ip-cpu/machine-learning/project-trillium' },
                  text: 'Project Trillium for Machine Learning',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/silicon-ip-multimedia' },
                  text: 'Graphics and Multimedia',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/development-tools' },
                  text: 'Development Tools',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com' },
                  text: 'Custom SoCs',
                }
              ]
            },
            {
              sectionHeader: {
                link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/technologies' },
                text: 'Technologies',
              },
              sectionLinks: [
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/technologies/dynamiq' },
                  text: 'DynamIQ',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/technologies/big-little' },
                  text: 'big.LITTLE',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/products/silicon-ip-cpu/machine-learning/arm-nn' },
                  text: 'Arm NN',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/technologies/cmsis' },
                  text: 'CMSIS',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/architectures/instruction-sets/simd-isas/neon' },
                  text: 'Neon',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/ip-products/security-ip/trustzone' },
                  text: 'TrustZone',
                }
              ]
            },
            {
              sectionHeader: {
                link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/partner-ecosystem' },
                text: 'Partner Ecosystem',
              },
              sectionLinks: [
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/why-arm/partner-ecosystem/arm-approved-program' },
                  text: 'Arm Approved Program',
                },
                {
                  link: { rel: 'noreferrer', href:'https://developer.arm.com/markets/automotive/arm-automotive-developer-community/automotive-ecosystem-partners' },
                  text: 'Automotive',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/solutions/hpc' },
                  text: 'HPC',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/solutions/infrastructure/arm-infrastructure-developer-community/ecosystem-partners' },
                  text: 'Infrastructure',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/technologies/machine-learning-on-arm/ecosystem-partners' },
                  text: 'Machine Learning',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.mbed.com/en/partners/our-partners/' },
                  text: 'Mbed Partners',
                }
              ]
            },
            {
              sectionHeader: {
                link: { rel: 'noreferrer', href: 'https://www.arm.com/support' },
                text: 'Support',
              },
              sectionLinks: [
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/support/design-reviews' },
                  text: 'Design Reviews',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://community.arm.com/developer/f' },
                  text: 'Developer Forums',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/support/training' },
                  text: 'Training',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/docs' },
                  text: 'Documentation',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://developer.arm.com/downloads' },
                  text: 'Downloads',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/support/contact-support' },
                  text: 'Contact Support',
                }
              ]
            },
            {
              sectionHeader: {
                link: { rel: 'noreferrer', href: 'https://www.arm.com/company' },
                text: 'About Arm',
              },
              sectionLinks: [
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/company/leadership' },
                  text: 'Leadership',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/company/careers' },
                  text: 'Careers',
                },
                {
                  link: { rel: 'noreferrer', href:'https://www.arm.com/company/security' },
                  text: 'Security on Arm',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/blogs/blueprint/' },
                  text: 'Arm Blog',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/company/news' },
                  text: 'News',
                },
                {
                  link: { rel: 'noreferrer', href: 'https://www.arm.com/company/offices' },
                  text: 'Arm Offices',
                }
              ]
            }
          ],
          socialLinks: [
            {
              link: { rel: 'noopener noreferrer', href: 'https://www.facebook.com/Arm' },
              icon: 'fab fa-facebook-f',
              title: 'Arm Facebook Account'
            },
            {
              link: { rel: 'noopener noreferrer', href: 'http://www.linkedin.com/company/Arm' },
              icon: 'fab fa-linkedin',
              title: 'Arm LinkedIn Account'
            },
            {
              link: { rel: 'noopener noreferrer', href: 'http://www.instagram.com/Arm' },
              icon: 'fab fa-instagram',
              title: 'Arm Instagram Account'
            },
            {
              link: { rel: 'noopener noreferrer', href: 'http://www.twitter.com/Arm' },
              icon: 'fab fa-twitter',
              title: 'Arm Twitter Account'
            },
            {
              link: { rel: 'noopener noreferrer', href: 'https://www.youtube.com/user/Armflix' },
              icon: 'fab fa-youtube',
              title: 'Arm YouTube Account'
            }],
          legalLinks: [
            {
              link: { rel: 'noreferrer', href: 'https://www.arm.com/company/policies/cookies' },
              text: 'Cookie Policy',
            },
            {
              link: { rel: 'noreferrer', href:'https://www.arm.com/company/policies/terms-and-conditions' },
              text: 'Terms of Use',
            },
            {
              link: { rel: 'noreferrer', href: 'https://www.arm.com/company/policies/privacy' },
              text: 'Privacy Policy',
            },
            {
              link: { rel: 'noreferrer', href:'https://www.arm.com/company/policies/accessibility'},
              text: 'Accessibility',
            },
            {
              link: { rel: 'noreferrer', href: 'https://login.arm.com/subscriptions.php' },
              text: 'Subscription Center',
            },
            {
              link: { rel: 'noreferrer', href: 'https://www.arm.com/company/policies/trademarks' },
              text: 'Trademarks',
            },
            {
              link: { rel: 'noreferrer', href: 'https://www.arm.com/glossary' },
              text: 'Glossary',
            },
          ]
        };
      })();
</script>