{{define "main"}}

<!-- Define variables for dynamic creation-->
{{ $thisdir := .File.Dir }}
{{ $thisfile:= .File.TranslationBaseName}}
{{ $toolfiles := slice }}




    <div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-1">
        <!-- Left pane -->
        <div class="c-col lg:c-col-3 xl:c-col-2 u-hide lg:u-display-block u-flex-shrink-0 card-tab-col">
            <div style="position:sticky; top:5px;">

                <!-- Title top left -->
                {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
                    {{ with .Site.GetPage $thisdir}}
                        <h6 class="u-margin-top-1/2" style="font-size:1em; font-weight: normal;">{{ .Params.Title }}</h6>
                    {{ end }}             
                {{else}}
                    <h6 class="u-margin-top-1/2" style="font-size:1em; font-weight: normal;">{{ .Params.Title }}</h6>
                {{end}}

                <!-- If Multi_install, create dynamic nav menu, content ordered by weight-->
                <!-- REMOVED, not helpful 
                {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
                    {{ range .Site.Pages.ByWeight }}
                        {{ if (eq .File.Dir $thisdir)}}
                            {{ $toolfiles = $toolfiles | append . }}
                            {{partial "ads-cards/custom-content-navs.html" (dict "context" . "thisfile" $thisfile)  }}
                        {{ end }}
                    {{end}} 
                {{end}}
                -->

                <!-- GitHub links to edit / log an issue -->
                {{partial "github/github-links.html" .  }}
            </div>
        </div>

        <!-- Right pane, content-->
        <div class="c-col lg:c-col-9 xl:c-col-10">

            <!-- if multi-tool, Mobile only shown navigation - sticky header -->
            {{if or (.Params.multi_install) (.Params.multitool_install_part)}}
                {{partial "ads-cards/custom-content-navs-mobile.html" (dict "context" .    "thisfile" $thisfile    "thisdir" $thisdir    "filesindir" $toolfiles)  }}
            {{end}}

            <!-- Markdown metadata -->
            <div class="content-box">
                <h2>About this Tool Install</h2>
                <!-- First row of info-->
                <div class="c-row">
                        <div class="c-col">
                            <table style="table-layout: fixed">
                                <tr>
                                  <td style="height: fit-content; width: max-content; padding: 0px; margin: 0px; vertical-align:top;">Reading time:</td>
                                  <td style="height: fit-content; width: fit-content; padding: 0px; margin: 0px; padding-left: 8px;" >
                                    <span><i class="fa-solid fa-clock fa-sm"></i></span>&nbsp; {{.Params.minutes_to_complete}} minutes
                                  </td>
                                </tr>
                                <tr>
                                  <td style="height: fit-content; width: max-content; padding: 0px; margin: 0px; vertical-align:top;">Last updated:</td>
                                  <td style="height: fit-content; width: fit-content; padding: 0px; margin: 0px; padding-left: 8px;">                    
                                    <span><i class="fa-solid fa-calendar-days fa-sm"></i></span>&nbsp; {{ .Lastmod.UTC.Format "2 Jan 2006" }}
                                  </td>
                                </tr>
                                {{ if .Params.official_docs}}
                                    <tr>
                                        <td style="height: fit-content; width: max-content; padding: 0px; margin: 0px; vertical-align:top; white-space: nowrap;">Official docs:</td>
                                        <td style="height: fit-content; width: fit-content; padding: 0px; margin: 0px; padding-left: 8px;" >
                                            <!-- docs exist! -->
                                            <a href="{{.Params.official_docs}}">View {{ partial "general-formatting/external-link.html"}} </a>
                                        </td>
                                    </tr>
                                {{end}}
                                {{ if .Params.test_maintenance}}
                                    <!-- Desktop Row View -->
                                        <tr class="u-hide md:u-display-table-row u-flex-shrink-0">
                                            <td style="height: fit-content; width: max-content; padding: 0px; margin: 0px; vertical-align:top;">Test status:</td>
                                            <td style="height: fit-content; width: fit-content; padding: 0px; margin: 0px; padding-left: 8px;">
                                                {{ partial "test-maintenance/test-maintenance" . }}
                                            </td>
                                        </tr>
                                    <!-- Mobile Row View -->
                                        <tr class="md:u-hide u-display-table-row">
                                            <td style="height: fit-content; width: max-content; padding: 0px; margin: 0px; vertical-align:top;">Test status:</td>
                                        </tr>
                                        <tr class="md:u-hide u-display-table-row">
                                            <td style="height: fit-content; width: fit-content; padding: 0px; margin: 0px; padding-left: 8px;">
                                                {{ partial "test-maintenance/test-maintenance" . }}
                                            </td>
                                        </tr>
                                {{end}}
                               
                                {{ $tool_tags := (.Site.GetPage "learning-paths/cross-platform").Params.tools_filter }}
                                {{ $urlized_tool_tags := apply $tool_tags "urlize" "." }}
                                {{ if in $urlized_tool_tags (.Title | urlize) }}
                                    <tr>
                                        <td  colspan="2" style="height: fit-content; padding: 0px; margin: 0px; vertical-align:top;">Learning Paths using this tool:</td>
                                    </tr>
                                    <tr>
                                        <td  colspan="2" style="height: fit-content; padding: 0px; margin: 0px;" >
                                            <span>
                                                    <!-- Clickable tag -->
                                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{.Title | urlize}}'>
                                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                                        <span class="fa-solid fa-tag"></span>
                                                        {{.Title}}
                                                    </ads-tag>
                                            </span>                             
                                        </td>
                                    </tr>
                                {{end}}
                              </table>                          
                    </div>
                    <p style="margin-top: 24px; margin-left: 16px;">This guide is intended to get you up and running with this tool quickly with the most common settings. For a thorough review of all options, refer to the official documentation.</p>
                </div>            
            </div>

            
            <!-- Main content display!-->
            <div class="content-box markdown-content-div">
                <!-- Content -->
                {{ with .Content }}
                {{ . }}
                {{ end }}
            </div>

            <!-- Multi-tool easy routing to new pages, ONLY for main multi_install page -->
            {{if .Params.multi_install}}
                <div class="content-box markdown-content-div">
                    <h3>Select a path:</h3> 
                    <div class="c-row">
                        <div class="c-col">
                            <div class="u-display-grid u-gap-1 md:u-grid-columns-2 lg:u-grid-columns-2 xl:u-grid-columns-3 xxl:u-grid-columns-3 u-margin-top-1">
                                {{range $index, $multi := $toolfiles}}
                                    {{ if ne .File.TranslationBaseName "_index" }} 
                                        <ads-card has-hover-effect class="path-card" link="{{.Permalink}}">
                                            <ads-card-content slot="content">
                                                <h3 class="u-color-arm-blue u-margin-top-1/2 u-margin-bottom-1/2">{{.Title}}</h3>
                                            </ads-card-content>   
                                        </ads-card>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}


        </div>
    </div>

{{ partial "ads-cards/custom-tabs-style.html" . }}
{{ partial "ads-cards/ads-card-style.html" . }}

{{end}}