{{/*
Website homepage.
*/}}


{{ define "main" }}




<!-- GitHub links calculated from GitHub repo, defined in config.toml -->
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $gh_repo := ($.Param "github_repo") -}}
{{ $gh_url := ($.Param "github_url") -}}
{{ $gh_subdir := ($.Param "github_subdir") -}}
{{ $gh_project_repo := ($.Param "github_project_repo") -}}
{{ $gh_branch := (default "master" ($.Param "github_branch")) -}}
{{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}
{{ $gh_repo_idea_path := printf "%s/discussions/categories/ideas" $gh_project_repo -}}





<!-- Header, replacing the masthead -->
<div class="homepage-top-divs" id="title-div">
    <span>
        <h1 id="homepage-header" class="orchard-breeze-text">Learning Paths</h1>
        <div id="beta-tag" class="beta-homepage">beta</div>
    </span>
</div>
<div class="homepage-top-divs homepage-top-desc">
    <p style="margin: 0px; color: #A3A8AE;">Tutorials designed to help you develop quality Arm software faster.</p>
    <p style="margin: 0px; margin-bottom: 0px; color: #A3A8AE;">You can request a new Learning Path be created if it does not exist yet, or contribute yourself alongside Arm Engineers and the Arm Ecosystem.</p>
    <p style="margin: 0px; margin-bottom: 16px; color: #A3A8AE;">All content is covered by the<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">
        Creative Commons License
        {{partial "general-formatting/external-link.html"}}         
    </a>.</p>

    <ads-button id='contribute-btn' name="contribute-cta" onclick="window.location.href='/learning-paths/cross-platform/_example-learning-path/'" level="primary">Contribute</ads-button>
    <ads-button id='contribute-btn' name="contribute-cta" onclick="window.open('{{$gh_repo_idea_path}}','_blank')" level="secondary">Request</ads-button> 
</div>

<!-- List of Learning Path Topics & Install Guide -->
<div class="c-row u-margin-top-1">
    <div class="c-col">
        <div class="u-display-grid u-gap-2 sm:u-grid-columns-1 md:u-grid-columns-2 lg:u-grid-columns-2 xl:u-grid-columns-3 xxl:u-grid-columns-3 u-margin-top-1">
            {{ range (where .Site.Pages "Params.maintopic" true).ByWeight}}
            <ads-card has-hover-effect id="{{.Title | urlize}}" class="main-topic-card" link="{{.Permalink}}">
                <ads-card-content class="maintopic-content" slot="content">
                    <img alt="{{.Title}} image" src="img/main-topic-backgrounds/{{.Title | urlize}}.svg" style="width: 100%;" />
                    <h3 class="main-topic-title u-margin-top-1/2 u-margin-bottom-1/2">{{replace .Title "and" "&"}}</h3>   

                    <p class="main-topic-subtitle u-margin-top-1/2 u-margin-bottom-0">
                        {{- delimit .Params.key_ip ", " -}}
                    </p>
                    <p class="u-margin-bottom-0 u-margin-top-0">
                        {{- delimit .Params.differentiating_info ".&nbsp;&nbsp;&nbsp;&nbsp;"  -}}
                    </p>   
                </ads-card-content>   
            </ads-card>
            {{ end }}

            <ads-card class="main-topic-card" id="tool-install" link="/install-guides">
                <ads-card-content class="maintopic-content" slot="content">
                    <img alt="{{.Title}} image" src="img/main-topic-backgrounds/tools.svg" style="width: 100%;" />
                    <h3 class="main-topic-title u-margin-top-1/2 u-margin-bottom-1/2">Install Guides</h3> 
                    <p class="main-topic-subtitle u-margin-top-1/2 u-margin-bottom-0">
                        Arm,  Open Source,  Commercial
                    </p>
                    <p class="u-margin-bottom-0 u-margin-top-0">
                        Simple guides to install new tools.
                    </p>   
                </ads-card-content> 
            </ads-card>
        </div>
    </div>
</div>






<br><br><br><br><br><br><br><br><br><br><br><br>













<!-- Header, replacing the masthead -->
<div class="homepage-top-divs" id="title-div">
    <span>
        <h1 id="homepage-header" class="orchard-breeze-text">Learning Paths</h1>
        <div id="beta-tag" class="beta-homepage">beta</div>
    </span>
</div>
<div class="homepage-top-divs homepage-top-desc">
    <p style="margin: 0px; color: #A3A8AE;">Tutorials designed to help you develop quality Arm software faster.</p>
</div>



<!-- List of Learning Path Topics & Install Guide -->
<div class="c-row u-margin-top-1">
    <div class="c-col">
        <div class="u-display-grid u-gap-1 sm:u-grid-columns-1 md:u-grid-columns-2 lg:u-grid-columns-2 xl:u-grid-columns-3 xxl:u-grid-columns-3 u-margin-top-1">
            {{ range (where .Site.Pages "Params.maintopic" true).ByWeight}}
            <ads-card has-hover-effect id="{{.Title | urlize}}" class="main-topic-card" link="{{.Permalink}}">
                <ads-card-content class="maintopic-content" slot="content">
                    <span>
                        <img style="vertical-align:middle; margin-left:-16px; margin-top:-4px;" alt="{{.Title}} image" src="img/icons/{{.Title | urlize}}.png" class="maintopic-image" />
                        <h5 style="display:inline-block" class="main-topic-title u-margin-top-1/2 u-margin-bottom-1/2">{{replace .Title "and" "&"}}</h5>   
                    </span>

                    <p class="main-topic-subtitle u-margin-top-1/2 u-margin-bottom-0">
                        {{- delimit .Params.key_ip ", " -}}
                    </p>
                    <p class="u-margin-bottom-0 u-margin-top-0">
                        {{- delimit .Params.differentiating_info ".&nbsp;&nbsp;&nbsp;&nbsp;"  -}}
                    </p>   
                </ads-card-content>   
            </ads-card>
            {{ end }}

            <ads-card class="main-topic-card" id="tool-install" link="/install-guides">
                <ads-card-content class="maintopic-content" slot="content">
                     <span>
                        <img style="vertical-align:middle; margin-right: 12px; margin-top:-4px;" alt="{{.Title}} image" src="img/icons/tools.png" class="maintopic-image" />
                        <h5 style="display:inline-block" class="main-topic-title u-margin-top-1/2 u-margin-bottom-1/2">Install Guides</h5>   
                    </span>
                    <p class="main-topic-subtitle u-margin-top-1/2 u-margin-bottom-0">
                        Arm,  Open Source,  Commercial
                    </p>
                    <p class="u-margin-bottom-0 u-margin-top-0">
                        Simple guides to install new tools.
                    </p>   
                </ads-card-content> 
            </ads-card>
        </div>
    </div>
</div>





<!-- Top Contributors table -->
<div class="homepage-top-divs">
    <h3 style="margin-top:64px; margin-bottom:8px" class="orchard-breeze-text">Supported by the Arm Ecosystem</h3>
    <p style="margin: 0px; margin-bottom: 0px; color: #A3A8AE;">You can request a new Learning Path be created if it does not exist yet, or contribute yourself alongside Arm Engineers and the Arm Ecosystem.</p>
    <p style="margin: 0px; margin-bottom: 16px; color: #A3A8AE;">All content is covered by the<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">
        Creative Commons License
        {{partial "general-formatting/external-link.html"}}         
    </a>.</p>

    <ads-button id='contribute-btn' name="contribute-cta" onclick="window.location.href='/learning-paths/cross-platform/_example-learning-path/'" level="primary">Contribute</ads-button>
    <ads-button id='contribute-btn' name="contribute-cta" onclick="window.open('{{$gh_repo_idea_path}}','_blank')" level="secondary">Request</ads-button> 
</div>


<!-- Space from page bottom -->
<div class="u-margin-4"></div>

<!-- Search Submit handling -->
<script src="/js/search-and-filter/search-handling.js"></script> 
<script>
      (() => { 
          document.querySelector('#search-box').searchSubmitHandler = searchSubmit_Tools;
      })();
</script>


{{ end }}

