{{ define "main" }}
<!-- Defines homepage layout-->


<div style="width:fit-content;  margin: 0 auto;">
    <h1 id="homepage-header">Learn</h1>
</div>
<div style="width:fit-content;  margin: 0 auto;">
    <p style="margin-bottom: 32px;">Tutorials designed to help you develop Arm software better and faster.</p>
</div>

<!-- List of Learning Path Topics -->
<div class="c-row u-margin-top-1">
    <div class="c-col">
        <div class="u-display-grid u-gap-2 md:u-grid-columns-2 lg:u-grid-columns-2 xl:u-grid-columns-3 xxl:u-grid-columns-3 u-margin-top-1">

            {{ range (where .Site.Pages "Params.maintopic" true).ByWeight}}
            <ads-card has-hover-effect id="{{.Title | urlize}}" class="main-topic-card" link="{{.Permalink}}">
                <ads-card-image slot="image" src="img/main-topic-backgrounds/{{.Title | urlize}}.jpg" class="u-bg-position-top"></ads-card-image>
                <ads-card-content slot="content">
                    <h2 class="main-topic-title u-margin-top-1/2 u-margin-bottom-1/2">{{.Title}} </h2>
                    
                    <p class="main-topic-subtitle">
                        {{range .Params.key_ip}}
                        {{.}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{end}}
                    </p>
                    <!--
                    {{range .Params.key_ip_icons}}
                    <img src="{{.}}" width="100px;">&nbsp;&nbsp;
                    {{end}}
                    -->
                    <p class="u-margin-bottom-0">
                        {{range .Params.differentiating_info}}
                        {{.}}.&nbsp;&nbsp;&nbsp; 
                        {{end}}
                    </p>                    

                </ads-card-content>   
            </ads-card>
            {{ end }}

            <ads-card class="main-topic-card" id="tool-install">
                <ads-card-image slot="image" src="/img/main-topic-backgrounds/tools.jpg" class="u-bg-position-center"></ads-card-image>
                <ads-card-content slot="content">
                    <p>Looking for instructions to install a tool?</p>
                        <ads-search has-search-button id="search-box" placeholder="Search by tool name" class="u-width-auto"></ads-search>
                        <ads-cta-link link='/install-guides' class="u-margin-top-1/2">See all</ads-cta-link>
                </ads-card-content>
            </ads-card>

        </div>
    </div>
</div>
<div class="c-row u-margin-top-3">
    <div class="c-col">
        <p>Want to create a Learning Path yourself? Read the <a href="/learning-paths/cross-platform/_example-learning-path/">contributor learning path here</a>.</p>
    </div>
</div>

<div class="u-margin-4"></div>


<style>
    #homepage-header {
        margin-top: 32px;
        margin-bottom: 16px;
        font-size: 75px;
        text-align: center;
    }


    html[theme="light"] #homepage-header {
        background: -webkit-linear-gradient(left,var(--arm-blue), var(--arm-web-safe-green));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    html[theme="dark"] #homepage-header {
        background: -webkit-linear-gradient(left,var(--arm-light-blue), var(--arm-green));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>


<!-- Search Submit handling -->
<script src="/js/search-and-filter/search-handling.js"></script>
<script>
      (() => { 
          document.querySelector('#search-box').searchSubmitHandler = searchSubmit_Tools;
      })();
</script>


{{ partial "ads-cards/ads-card-style.html" . }}


{{ end }}

