{{/*
Publishes test result with a badge.

Where it is used:
    - install guides
    - learning path introduction

Called from:
    - install-guides/installtoolsall.html
    - partials learning-paths/introduction.html


Usage: in article header
# Maintenance settings
test_maintenance: true        # Enables maintenance tests on article
*/}}



{{ if eq true $.Page.Params.test_maintenance }}
    {{ $path := .RelPermalink }}

    {{/* Split the path by "/" and manually build the path array using slice */}}
    {{ $splitPath := strings.Split $path "/" }}
    {{ $pathArray := slice }}
    {{ range $i, $v := $splitPath }}
    {{ if and (ne $v "") (ne $i (sub (len $splitPath) 1)) }} {{/* Skip empty elements and the last empty element */}}
        {{ $pathArray = $pathArray | append $v }}
    {{ end }}
    {{ end }}


    {{ $base := .Site.Data.stats_current_test_info.sw_categories }} 
    {{ $desiredKey := ""}}

    {{ if in $pathArray "learning-paths" }}
        {{ $desiredKey = index $base (index $pathArray 1) (index $pathArray 2) }}
    {{else}}
        {{/* Multi-dir check for install guides */}}
        {{ if eq (len $pathArray) 3 }}
            {{ $desiredKey = index $base (index $pathArray 0) (index $pathArray 2) }}
        {{else}}
            {{ $desiredKey = index $base (index $pathArray 0) (index $pathArray 1) }}
        {{end}}
    {{end}}

    {{ range (index $desiredKey "tests_and_status") }}
        {{range $image, $pass_or_fail := .}}

            {{ $image_filtered := replace $image ":" "_"}}
            {{ $image_filtered := replace $image_filtered "/" "_"}}
            {{ if eq "passed" $pass_or_fail }}
                <img alt="{{ $image }} - passed" src="/img/badges/{{ $image_filtered }}-passed-green.svg" style="padding-top: 6px;">
            {{ else }}
                <img alt="{{ $image }} - failed" src="/img/badges/{{ $image_filtered }}-failed-red.svg" style="padding-top: 6px;">
            {{ end }}

        {{end}}
            
    {{ end }}
{{ end }}












{{/*  Getting it from the _index.md page itself, initial implementation only. Switched to Data file; can remove this now.
{{ if eq true $.Page.Params.test_maintenance }}
    {{ range $idx, $el := $.Page.Params.test_images }}
        {{ if $.Page.Params.test_link }}
        <a href="{{ $.Page.Params.test_link }}">
        {{ end }}
        {{ if $.Page.Params.test_status }}
            {{ $st := (index $.Page.Params.test_status $idx) }}
            {{ $el_m := replace $el ":" "_"}}
            {{ $el_m := replace $el_m "/" "_"}}
            {{ if eq "passed" $st }}
                <img alt="{{ $el }} - passed" src="/img/badges/{{ $el_m }}-passed-green.svg" style="padding-top: 6px;">
            {{ else }}
                <img alt="{{ $el }} - FAILED" src="/img/badges/{{ $el_m }}-failed-red.svg" style="padding-top: 6px;">
            {{ end }}
        {{ end }}
        {{if $.Page.Params.test_link }}
        </a>
        {{ end }}
    {{ end }}
{{ end }}

*/}}