<!-- 
    Publishes test result with a badge
    Usage: in article header
    # Maintenance settings
    test_maintenance: true        # Enables maintenance tests on article
    test_images:                  # List Docker images to run instructions on
        - ubuntu:latest
        - fedora:latest
    test_link: https://github.com/USERNAME/arm-software-developers-ads/actions/runs/123456789
    test_status:
        - passed
        - failed
-->

<!-- if maintenance mode is enabled -->
{{ if eq true $.Page.Params.test_maintenance }}
    {{ range $idx, $el := $.Page.Params.test_images }}
        {{ if $.Page.Params.test_link }}
        <a href="{{ $.Page.Params.test_link }}">
        {{ end }}
        {{ if $.Page.Params.test_status }}
            {{ $st := (index $.Page.Params.test_status $idx) }}
            {{ $el_m := replace $el ":" "_"}}
            {{ $el_m := replace $el_m "/" "_"}}
            {{ if eq "passed" $st }}
                <img alt="{{ $el }} - passed" src="/img/badges/{{ $el_m }}-passed-green.svg" style="padding-top: 6px;">
            {{ else }}
                <img alt="{{ $el }} - FAILED" src="/img/badges/{{ $el_m }}-failed-red.svg" style="padding-top: 6px;">
            {{ end }}
        {{ end }}
        {{if $.Page.Params.test_link }}
        </a>
        {{ end }}
    {{ end }}
{{ end }}
