{{/*
Demo page for learning path formatting.

Where it is used:
    - learning paths

Called from:
    - partials learning-paths/learningpathall.html

Calls to:
    - 
*/}}



<!-- Overview box -->
<div class="content-box">
    <h2>Overview</h2>
        <p class="u-margin-left-1">{{.Params.overview}}</p>

    <div class="c-row u-gap-1/2 u-flex-nowrap">
        <!-- Left - Demo steps -->
        <div class="c-col md:c-col-12 lg:c-col-6">
            <h3>Running the Demo</h3>
            <ul>
            {{ range .Params.demo_steps }}
                <li class="u-margin-left-2">{{.}}</li>
            {{end}}
            </ul>
        </div>
        <!-- Right - Architecture Diagram -->
        <div class="c-col lg:c-col-6 u-hide lg:u-display-block u-flex-shrink-0">
            <div class="demo-test" style="margin-top: 16px;">
                Architecture Diagram, expandable
            </div>
        </div>        
    </div>

</div>



<div class="content-box">
    <h2>Demo and Stats</h2>
    <div class="c-row u-gap-1/2 u-flex-nowrap u-padding-top-0">
        <!-- Left - Demo -->
        <div class="c-col md:c-col-12 lg:c-col-9 lg:u-display-block ">
            <p>demo goes here</p>
        </div>
        <!-- Right - Stats -->
        <div class="c-col lg:c-col-3 u-hide lg:u-display-block u-flex-shrink-0">
            <p>Stats go here</p>
        </div>        
    </div>

</div>