<!-- CTA buttons -->
<div class="c-row u-margin-top-2">
    
    {{ $counter := 0 }}                     <!-- Counter to track index-->
    {{ range .learningpathfiles }}
        {{ if eq .Weight $.context.Weight}}   <!-- This file in ordered array -->
            <!-- $counter is now index of current file in .learningpathfiles -->
            {{ $backlink := (index $.learningpathfiles (sub $counter 1)).Permalink }}
            {{ $nextlink := (index $.learningpathfiles (add $counter 1)).Permalink }}

            {{ if $backlink }} <!-- is null if introduction page, so don't show a back there-->
            <div class="c-col">
                <!-- BACK BUTTON -->
                <ads-button style="float:left" onclick="window.location.href={{$backlink}}" level="tertiary">Back</ads-button>
            </div>
            {{ end }}

            {{ if $nextlink }} <!-- is null if last page, so don't show a back there-->
            <div class="c-col">
                <!-- NEXT BUTTON -->
                <ads-button style="float:right;" onclick="window.location.href={{$nextlink}}" level="primary">Next</ads-button>
            </div>

            {{else}}
                <!-- Return to learning path area -->
                {{ range where $.context.Site.Pages "Params.maintopic" true}}
                    {{if in $.context.File.Dir .File.Dir}}  <!-- If the maintopic path is in this file's path (part of this main topic) -->
                        {{ with .Site.GetPage .File.Dir }}
                            <!-- CTA BUTTON -->
                            <ads-cta-link link="{{.Permalink}}">
                                <span>Back to all learning paths under {{.Title}}</span>
                            </ads-cta-link>  
                        {{ end }}
                    {{end}}
                {{end}}
            {{ end }}
        {{end}}
        {{ $counter = add $counter 1 }}
    {{end}}
    </div>