{{/*
Last page in Learning Paths, with feedback and resources for next steps.

Where it is used:
    - learning paths, next steps

Called from:
    - partials learning-paths/learningpathall.html
*/}}


<!-- Feedback at top -->
{{partial "general-formatting/feedback.html" (dict "context" .context "learningpath_or_toolinstall" "Learning Path")  }}


<div class="c-row">
    <div class="c-col">
        <!-- Main CTA for next learning path: -->
        <h2>Continue Learning</h2>
        <p>{{.context.Params.next_step_guidance  | markdownify}}</p>
        {{ with .context.Site.GetPage .context.Params.recommended_path}}
            <span>
                <ads-cta-link id="next-learning-path" link='{{.Permalink}}'>
                    <span>Next Learning Path:&nbsp;&nbsp;&nbsp;{{.Title}}</span>
                </ads-cta-link>
            </span>
        {{ end }}

        <!-- 3 columns of next steps -->
        <div class="u-display-grid u-gap-1 sm:u-grid-columns-1 lg:u-grid-columns-2 xl:u-grid-columns-3 u-margin-top-1">
            <div id="similar-lp-div" class="content-box">
                <h4>Similar Learning Paths</h4>
                <p>Learn about related topics:</p>
                <ul>
                    {{$related := (where (.context.Site.Pages.Related (index .learningpathfiles 0) ) "Params.learning_path_main_page" "yes") | first 2 }}
                    {{range $related}}
                        <li class="u-margin-bottom-1/2"><a href="{{.RelPermalink}}">{{.Title}}</a></li>
                    {{end}}                            
                </ul>
            </div>

            <div id="further-reading-div" class="content-box">
                <h4>Further Reading</h4>
                <p>Find more information about the topics in this Learning Path:</p>
                <ul class="fa-ul u-margin-left-0">
                {{ range $index, $r := .context.Params.further_reading }}
                    {{ with $r.resource}}
                        <li class="u-margin-bottom-1/2"><i class='u-margin-right-1/2 fa-solid 
                                    {{if eq .type "blog" }}
                                        fa-pen-to-square' title='Blog'
                                    {{ else if eq .type "website" }}
                                        fa-browser' title='External website'
                                    {{else if eq .type "documentation" }}
                                        fa-book' title='Documentation'
                                    {{else}}
                                        fa-book' title='Reference'
                                    {{end}}
                                ></i>
                        <a href="{{ .link }}" target="_blank">{{ .title }}{{partial "general-formatting/external-link.html"}}</a>
                        </li>
                    {{end}}
                {{end}}
                </ul>
            </div>

            <div id="explore-tags-div" class="content-box">
                <h4>Explore Tags</h4>
                <p>Find additional Learning Paths using tags:</p>
                <span>
                        <ads-tag    href='{{ "/" | relLangURL}}tag/{{(index .learningpathfiles 0).Params.subjects | urlize}}' style="margin-bottom: 4px;">
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ (index .learningpathfiles 0).Params.subjects }}
                        </ads-tag>
                    {{ if (index .learningpathfiles 0).Params.cloud_service_providers }}
                        <ads-tag    href='{{ "/" | relLangURL}}tag/{{(index .learningpathfiles 0).Params.cloud_service_providers | urlize}}' style="margin-bottom: 4px;">
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ (index .learningpathfiles 0).Params.cloud_service_providers }}
                        </ads-tag>
                    {{end}}
                    {{ range (index .learningpathfiles 0).Params.armips }}
                        <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ replace . "_" " " }}
                        </ads-tag>
                    {{ end }}
                    {{ range (index .learningpathfiles 0).Params.operatingsystems }}
                        <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ . }}
                        </ads-tag>
                    {{ end }}
                    {{ range (index .learningpathfiles 0).Params.tools_software_languages }}
                        <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{.}}
                        </ads-tag>
                    {{ end }}
                </span>
            </div>
        </div>
    </div>
</div>  