<script type="text/javascript">      
  
    function handleIt() {


        ////////////// Check if all boxes are checked; if not, error message and return.
        // Get all inputs, grouped into arrays by question      [ [q1-a1,q1-a2], [q2-a1,q2-a2], etc. ]
        let answer_groups = document.getElementsByClassName('answer-group');
        let organized_answer_status = [];
        for (answers of answer_groups) {
            let temp_array=[];
            // iterate over specific answers
            for (answer of answers.getElementsByClassName('answer')) {
                let checkbox_input_ele = answer.querySelector('input');
                // get checked status (false if not, true if yes)
                temp_array.push(checkbox_input_ele.checked);
            }
            organized_answer_status.push(temp_array);
        }

        for (a_group of organized_answer_status) {
            if (!a_group.includes(true)) {
                // No answer was selected in this group, so show error and quit function.
                document.getElementById("error-answer-all-questions-message").hidden = false;
                return
            }
        }
        // Make sure error message is hidden now if shown:
        document.getElementById("error-answer-all-questions-message").hidden = true;
        //////////////




        ////////////// Hide main form button
        document.querySelector('div#check-answer-btn-div').hidden=true;
        //////////////

        ////////////// Freeze radio button inputs
        let all_radios = document.querySelectorAll('input[type="radio"]');
        for (radio of all_radios) {
            radio.disabled = true;
            // remove hover on pointer
            radio.style.cursor='none';
        }


        ///////////// Show fa icons for all checked items
        for (answers of answer_groups) {
            for (answer of answers.getElementsByClassName('answer')) {
                let checkbox_input_ele = answer.querySelector('input');
                let checkbox_status = checkbox_input_ele.checked; // true or false checked
                if (checkbox_status) {
                    // show this icon
                    answer.querySelector('.checkbox-icon').style.visibility = "visible"; 
                }
            }
        }




        // Hide all info_texts by default to clear them.
        const div_help_text = document.querySelectorAll('div.info_text');
        div_help_text.forEach(explanation_div => {
            // See if the checked answer is right or wrong
            let prepend_html = ''
            let answer_div = document.querySelector('.answers-for-'+explanation_div.id).querySelectorAll('div.answer');
            for (answers of answer_div) {
                // if checked, do analysis of right wrong
                if (answers.querySelector('input').checked) {
                    // read status of right / wrong via icon
                    if (answers.querySelector('span.checkbox-icon').classList.contains('fa-circle-check')) {
                        // correct
                        prepend_html = '<span class="correct-explain u-text-bold">Correct! </span>';
                    }
                    else {
                        // incorrect
                        prepend_html = '<span class="incorrect-explain u-text-bold">Incorrect. </span>';
                    }
                }
            }

            console.log('hi',answer_div);


            explanation_div.querySelector('.info_text_preexplination').innerHTML = prepend_html + explanation_div.querySelector('.info_text_preexplination').innerHTML;
            explanation_div.removeAttribute('hidden');
        });
        
    }
  </script>


<!-- Markdown content -->
<div class="content-box">
    <h2 >What you've learned</h2>
    {{ range (index .learningpathfiles 0).Params.learning_objectives }}
        <li class="u-margin-left-2">{{.}}</li>
    {{end}}
</div>


<!-- Markdown metadata -->
<div class="content-box">
    <h2>Knowledge Check</h2>  
    
    <form action="javascript:handleIt()">
            {{range $index, $q := .context.Params.review}}
                {{$q_num := (add $index 1)}}
                {{ with $q.questions}}
                        <!-- Questions -->
                        <p class="u-margin-bottom-0 u-margin-top-1">{{.question}}</p>
                        <div id="question-{{$q_num}}" class="info_text" hidden>
                                <div class="u-margin-left-2 info_text_preexplination">{{.explanation}}</div>
                        </div>
                        <div class="answer-group answers-for-question-{{$q_num}}">
                            {{ range $a_num, $answer := .answers }}
                                <div id="div-{{$q_num}}-{{add $a_num 1}}" class="u-padding-left-1 answer {{if eq $q.questions.correct_answer (add $a_num 1)}}correct{{end}}" >
                                    <span class="fa-solid checkbox-icon {{if eq $q.questions.correct_answer (add $a_num 1)}}fa-circle-check{{else}}fa-times-circle{{end}}" style="visibility: hidden;"></span>
                                    <input type="radio" class="u-margin-bottom-1/2" id="answer-{{$q_num}}-{{add $a_num 1}}" name="question-{{$q_num}}">
                                    <label class="u-margin-left-1/2" for="answer-{{$q_num}}-{{add $a_num 1}}">{{.}}</label>
                                </div>
                            {{end}}
                        </div>

                        <!-- End of Questions-->
                {{end}}
            {{end}} 

    <br>
    <div id="check-answer-btn-div">
        <input type="submit" value="See Answers" id="check-answer-btn">
    </div>
    <div id="error-answer-all-questions-message" hidden>
        <p class="incorrect-explain u-margin-bottom-0">You need to answer each question to see the results.</p>
    </div>
    </form>      
</div>






<style>
    .fa-circle-check {color: var(--arm-web-safe-green);}
    .correct-explain {color: var(--arm-web-safe-green);}
    html[theme='dark'] .fa-circle-check {color: var(--arm-green);}
    html[theme='dark'] .correct-explain {color: var(--arm-green);}


    .fa-times-circle   {color: var(--arm-web-safe-red);}
    .incorrect-explain {color: var(--arm-web-safe-red);}
    html[theme='dark'] .fa-times-circle {color: hsl(0, 73.9%, 60%);} /* 10% lighter than arm's websafe red */
    html[theme='dark'] .incorrect-explain {color: hsl(0, 73.9%, 60%);} /* 10% lighter than arm's websafe red */

</style>