{{/*

{{ $url := "/csv/contributors.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url }}
    {{$i}}
    {{$r}}
{{ end }}


*/}}


{{$author := ""}}
{{$author_company := ""}}
{{$github_url := ""}}
{{$linkedin_url := ""}}
{{$twitter_url := ""}}
{{$website_url := ""}}

{{$is_learning_path := false}}
{{$table_name := "Install Guide"}}


{{ $active_tag := "" }}
{{ $tools_software_languages := slice}}
{{ $main_tool_title := .Params.Title }}



{{if eq .Section "learning-paths"}}
    {{$is_learning_path = true}}
    {{$table_name = "Learning Path"}}
{{end}}




{{if .Params.author}}
    {{range .Params.author}}
                {{if .name}}            {{$author = .name}}                     {{end}}
                {{if .company_name}}    {{$author_company = .company_name}}     {{end}}
        {{if .personal_socials}}
            {{range .personal_socials}}
                {{if .github}}          {{$github_url = printf "https://github.com/%s" .github}}         {{end}}
                {{if .linkedin}}        {{$linkedin_url = printf "https://linkedin.com/in/%s" .linkedin}}{{end}}
                {{if .twitter}}         {{$twitter_url =  printf "https://twitter.com/%s" .twitter}}     {{end}}
                {{if .personal_website}}{{$website_url = .personal_website}}                             {{end}}
            {{end}}
        {{end}}
    {{end}}
{{end}}

<!-- get list of names (urlized) of all tools_software_languages from across each learning path (cross platform already taken into account) -->
{{ range where .Site.Pages "Params.maintopic" true}}
    {{range .Params.tools_software_languages_filter}}
        {{ range $key, $value := . }}
            {{ if in $tools_software_languages (urlize $key)}}
            {{else}}
                {{ $tools_software_languages = $tools_software_languages | append (urlize $key) }}
            {{end}}
        {{ end }}
    {{end}}
{{end}}  

<!-- Check if there are any matching learning paths to this tool (or the main tool) -->
{{ if in $tools_software_languages (.Title | urlize)}}
    {{ $active_tag = .Title }}
{{ else if in $tools_software_languages ($main_tool_title | urlize) }}
    {{ $active_tag = $main_tool_title }}
{{end}}












 <!-- Markdown metadata table -->
 <div class="content-box">
    <h2>About this {{$table_name}}</h2>
    <div class="c-row">
        <div class="c-col xs:c-col-12 sm:c-col-12 md:c-col-12 lg:c-col-6 xl:c-col-4">
            <!-- RIGHT TABLE, non mobile-->
            <div class="u-hide md:u-display-block u-flex-shrink-0">
                <table class="width-max-content">
                {{if $is_learning_path}}
                    <tr>
                        <td class="td-metadata-key">
                            Skill level:
                        </td>
                        <td class="td-metadata-value">
                            <span><i class="fa-light fa-lightbulb"></i></span>&nbsp; {{.Params.skillLevels}}
                        </td>
                    </tr>
                {{end}}
                    <tr>
                        <td class="td-metadata-key nowrap">
                            Reading time:
                        </td>
                        <td class="td-metadata-value" >
                            <span><i class="fa-light fa-clock fa-sm"></i></span>&nbsp; <span class="time-to-complete-string" name="{{.Params.minutes_to_complete}}">{{partial "partials/server-side-processing/time-beautifier.html" .Params.minutes_to_complete}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-key">
                            Last updated:
                        </td>
                        <td class="td-metadata-value">                    
                            <span><i class="fa-light fa-calendar-days fa-sm"></i></span>&nbsp; {{ .Lastmod.UTC.Format "2 Jan 2006" }}
                        </td>
                    </tr>
                {{ if .Params.test_maintenance}}
                    <tr>
                        <td class="td-metadata-key">
                            Test status:
                        </td>
                        <td class="td-metadata-value">
                            {{ partial "test-maintenance/test-maintenance" . }}
                        </td>
                    </tr>
                {{end}}
                </table>     
            </div>     
            <!-- RIGHT TABLE, mobile -->
            <div class="md:u-hide u-display-block">
                <table class="width-max-content">
                {{if $is_learning_path}}
                    <tr>
                        <td class="td-metadata-key width-max-content nowrap">
                            Skill level:
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value margin-l-24" >
                            <span><i class="fa-light fa-lightbulb"></i></span>&nbsp; {{.Params.skillLevels}}
                        </td>
                    </tr>
                {{end}}
                    <tr>
                        <td class="td-metadata-key width-max-content">
                            Reading time:
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value margin-l-24" >
                            <span><i class="fa-light fa-clock fa-sm"></i></span>&nbsp; <span class="time-to-complete-string" name="{{.Params.minutes_to_complete}}">{{partial "partials/server-side-processing/time-beautifier.html" .Params.minutes_to_complete}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-key width-max-content">
                            Last updated:
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value margin-l-24">                    
                            <span><i class="fa-light fa-calendar-days fa-sm"></i></span>&nbsp; {{ .Lastmod.UTC.Format "2 Jan 2006" }}
                        </td>
                    </tr>
                {{ if .Params.test_maintenance}}
                    <tr>
                        <td class="td-metadata-key width-max-content">
                            Test status:
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value">
                            {{ partial "test-maintenance/test-maintenance" . }}
                        </td>
                    </tr>
                {{end}}
                </table>   
            </div>
        </div>
        <!-- Second column table-->
        <div class="c-col xs:c-col-12 sm:c-col-12 md:c-col-12 lg:c-col-6 xl:c-col-8">
            <!-- Normal view (not mobile) -->
            <div class="u-hide md:u-display-block u-flex-shrink-0">
                <table class="width-max-content">
                    <tr>
                        <td class="td-metadata-key width-max-content nowrap">
                            Author:
                        </td>
                        <td class="td-metadata-value">
                            <span>
                                {{$author}}{{if $author_company}}, <span class="u-margin-right-1">{{$author_company}}</span>{{end}}
                                {{- if $github_url -}}      <a href="{{$github_url}}"   target="_blank"><i class="author-social-icon fab fa-github"></i></a>    {{- end -}}
                                {{- if $linkedin_url -}}    <a href="{{$linkedin_url}}" target="_blank"><i class="author-social-icon fab fa-linkedin"></i></a>  {{- end -}}
                                {{- if $twitter_url -}}     <a href="{{$twitter_url}}"  target="_blank"><i class="author-social-icon fab fa-twitter"></i></a>   {{- end -}}
                                {{- if $website_url -}}     <a href="{{$website_url}}"  target="_blank"><i class="author-social-icon fa  fa-blog"></i></a>      {{- end -}}
                            </span>
                        </td>                        
                    </tr>
                    <!-- Arm IP if learning path. Official Docs if tool -->
                    {{if $is_learning_path}}
                        <tr>
                            <td class="td-metadata-key width-max-content nowrap">
                                Arm IP:
                            </td>
                            <td class="td-metadata-value">
                                {{- range .Params.armips -}}<a href="https://developer.arm.com/Processors#q={{.}}" target="_blank" style="text-decoration: none; margin-right: 16px;">{{.}}{{ partial "general-formatting/external-link.html"}}</a>{{- end -}}    
                            </td>
                        </tr>
                    {{else}}
                        {{if .Params.official_docs}}
                        <tr>
                            <td class="td-metadata-key width-max-content nowrap">
                                Official docs:
                            </td>
                            <td class="td-metadata-value" >
                                <!-- docs exist! -->
                                <a href="{{.Params.official_docs}}" target="_blank">View {{ partial "general-formatting/external-link.html"}} </a>
                            </td>
                        </tr>
                        {{end}}
                    {{end}}

                    <!-- TAGS -->
                    <!-- LP tags listed in metadata -->
                    {{if $is_learning_path}}
                    <tr>
                        <td class="td-metadata-key width-max-content">
                            Tags:
                        </td>
                        <td class="td-metadata-value">
                            <span>
                                <ads-tag    href='{{ "/" | relLangURL}}tag/{{.Params.subjects | urlize}}' style="margin-bottom: 4px;">
                                    <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                    <span class="fa-solid fa-tag"></span>
                                    {{ .Params.subjects }}
                                </ads-tag> 
                                {{ range .Params.operatingsystems }}
                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                        <span class="fa-solid fa-tag"></span>
                                        {{ . }}
                                    </ads-tag>
                                {{ end }}
                                {{ range .Params.tools_software_languages }}
                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                        <span class="fa-solid fa-tag"></span>
                                        {{ . }}
                                    </ads-tag>
                                {{ end }}
                            </span>  
                        </td>
                    </tr>
                    <!-- tool tags, if present in learning paths -->
                    {{else}}
                        {{ if ne $active_tag ""}}
                        <tr>
                            <td class="td-metadata-key">
                                Tags:
                            </td>
                            <td class="td-metadata-value">
                                <span><ads-tag    href='{{ "/" | relLangURL}}tag/{{urlize $active_tag}}'>
                                    <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                    <span class="fa-solid fa-tag"></span>
                                    {{$active_tag}}
                                </ads-tag></span>                             
                            </td>
                        </tr>
                        {{end}}
                    {{end}}
                </table>   
            </div>
            <!-- Table mobile-sized windows only -->   
            <div class="md:u-hide u-display-block">
                <table>
                    <tr>
                        <td class="td-metadata-key width-max-content">
                            Author:
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value margin-l-24">
                                {{$author}}{{if $author_company}}, {{$author_company}}{{end}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-metadata-value margin-l-12">
                                {{- if $github_url -}}      <a href="{{$github_url}}"   target="_blank"><i class="author-social-icon fab fa-github"></i></a>    {{- end -}}
                                {{- if $linkedin_url -}}    <a href="{{$linkedin_url}}" target="_blank"><i class="author-social-icon fab fa-linkedin"></i></a>  {{- end -}}
                                {{- if $twitter_url -}}     <a href="{{$twitter_url}}"  target="_blank"><i class="author-social-icon fab fa-twitter"></i></a>   {{- end -}}
                                {{- if $website_url -}}     <a href="{{$website_url}}"  target="_blank"><i class="author-social-icon fa  fa-blog"></i></a>      {{- end -}}
                        </td>
                    </tr>
                    {{if $is_learning_path}}
                        <tr>
                            <td class="td-metadata-key width-max-content">
                                Arm IP:
                            </td>
                        </tr>
                        <tr>
                            <td class="td-metadata-value margin-l-24">
                                {{- range .Params.armips -}}
                                    <a href="https://developer.arm.com/Processors#q={{.}}" target="_blank" style="text-decoration: none; margin-right: 16px;">{{.}}{{ partial "general-formatting/external-link.html"}}</a>
                                {{- end -}}    
                            </td>
                        </tr>
                    {{else}}
                        {{ if .Params.official_docs}}
                        <tr>
                            <td class="td-metadata-key width-max-content">
                                Official docs:
                            </td>
                        </tr>
                        <tr>
                            <td class="td-metadata-value margin-l-24" >
                                <!-- docs exist! -->
                                <a href="{{.Params.official_docs}}" target="_blank">View {{ partial "general-formatting/external-link.html"}} </a>
                            </td>
                        </tr>
                        {{end}}
                    {{end}}
                    <!-- TAGS -->
                    <!-- LP tags listed in metadata -->
                    {{if $is_learning_path}}
                        <tr>
                            <td class="td-metadata-key width-max-content">
                                Tags:
                            </td>
                        </tr>
                        <tr>
                            <td class="td-metadata-value margin-l-0">
                                <span>
                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{.Params.subjects | urlize}}' style="margin-bottom: 4px;">
                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                        <span class="fa-solid fa-tag"></span>
                                        {{ .Params.subjects }}
                                    </ads-tag>
                                {{ range .Params.operatingsystems }}
                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                        <span class="fa-solid fa-tag"></span>
                                        {{ . }}
                                    </ads-tag>
                                {{ end }}
                                {{ range .Params.tools_software_languages }}
                                    <ads-tag    href='{{ "/" | relLangURL}}tag/{{. | urlize}}' style="margin-bottom: 4px;">
                                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                        <span class="fa-solid fa-tag"></span>
                                        {{ . }}
                                    </ads-tag>
                                {{ end }}
                                </span>  
                            </td>
                        </tr>
                    <!-- Tool tag, if present in learning paths -->
                    {{else}}
                        {{ if ne $active_tag ""}}
                        <tr>
                            <td class="td-metadata-key width-max-content">
                                Tags:
                            </td>
                        </tr>
                        <tr>
                            <td class="td-metadata-value margin-l-0">
                                <span><ads-tag    href='{{ "/" | relLangURL}}tag/{{urlize $active_tag}}'>
                                    <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                                    <span class="fa-solid fa-tag"></span>
                                    {{$active_tag}}
                                </ads-tag></span>                             
                            </td>
                        </tr>
                        {{end}}
                    {{end}}

                </table>   

            </div>                
        </div>
        {{if not $is_learning_path}}
            <p style="margin-top: 24px;">This guide is intended to get you up and running with this tool quickly with the most common settings. For a thorough review of all options, refer to the official documentation.</p>
        {{end}}
    </div>            
</div>