{{/*  layouts/partials/head/jsonld.html  */}}
{{/* ---------------------------------------------------------------
     Render JSON‑LD only for Learning‑Path _index.md main pages
---------------------------------------------------------------- */}}
{{- if and .IsSection (eq .Params.learning_path_main_page "yes") -}}
    {{/* -------- Helper : Build ISO‑8601 duration (PT30M, PT2H, …) */}}
    {{- $duration := "" -}}
    {{- with .Params.minutes_to_complete -}}
        {{- $duration = printf "PT%dM" (int .) -}}
    {{- end -}}
    {{/* -------- Learning objectives & prerequisites  */}}
    {{- $objectives := slice -}}
    {{- with .Params.learning_objectives -}}
        {{- range . }}{{ $objectives = $objectives | append ( . | plainify ) }}{{ end -}}
    {{- end -}}
    {{- $prereqs := slice -}}
    {{- with .Params.prerequisites -}}
        {{- range . }}{{ $prereqs = $prereqs | append ( . | plainify ) }}{{ end -}}
    {{- end -}}
    {{/* -------- Collect tag‑style params into one keywords list */}}
    {{- $keywords := slice -}}
    {{- $tagParams := slice
          "skilllevels"
          "cloud_service_providers"
          "armips"
          "subjects"
          "operatingsystems"
          "tools_software_languages"
      -}}
    {{- range $tagParams -}}
        {{- $v := index $.Params . -}}
        {{- with $v -}}
            {{- if reflect.IsSlice $v -}}
                {{- range $v }}{{ $keywords = $keywords | append ( . | plainify ) }}{{ end -}}
            {{- else -}}
                {{- $keywords = $keywords | append ( $v | plainify ) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{/* -------- Assemble JSON‑LD dict  */}}
    {{- $j := dict
        "@context" "https://schema.org"
        "@type"    "Course"
        "name"     .Title
    -}}
    {{/* Schema description: audience-focused explanation for structured data. This is intentionally distinct from the HTML meta description. */}}
    {{- with .Params.who_is_this_for     }}{{ $j = merge $j (dict "description" ( . | plainify )) }}{{ end -}}
    {{- if $duration                     }}{{ $j = merge $j (dict "timeRequired" $duration) }}{{ end -}}
    {{- with .Params.skilllevels         }}{{ $j = merge $j (dict "educationalLevel" .) }}{{ end -}}
    {{- with $objectives                 }}{{ if gt (len .) 0 }}{{ $j = merge $j (dict "teaches" .) }}{{ end }}{{ end -}}
    {{- with $prereqs                    }}{{ if gt (len .) 0 }}{{ $j = merge $j (dict "competencyRequired" .) }}{{ end }}{{ end -}}
    {{- with .Params.author              }}{{ $j = merge $j (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
    {{- if $keywords                     }}{{ $j = merge $j (dict "keywords" (delimit (uniq $keywords) ", ")) }}{{ end -}}
    {{- with .Site.Title                 }}{{ $j = merge $j (dict "provider" (dict "@type" "Organization" "name" .)) }}{{ end -}}

    {{- $j = merge $j (dict "offers" (slice (dict "@type" "Offer" "category" "Free"))) -}}
    {{- $ci := dict "@type" "CourseInstance" "courseMode" "Online" -}}
    {{- if $duration                     }}{{ $ci = merge $ci (dict "courseWorkload" $duration) }}{{ end -}}
    {{- with .Params.course_instances -}}
        {{- $instances := slice -}}
        {{- range . -}}
            {{- $i := dict "@type" "CourseInstance" -}}
            {{- with .courseMode       }}{{ $i = merge $i (dict "courseMode" .) }}{{ end -}}
            {{- with .courseWorkload   }}{{ $i = merge $i (dict "courseWorkload" .) }}{{ end -}}
            {{- $instances = $instances | append $i -}}
        {{- end -}}
        {{- if gt (len $instances) 0 }}{{ $j = merge $j (dict "hasCourseInstance" $instances) }}{{ else }}{{ $j = merge $j (dict "hasCourseInstance" (slice $ci)) }}{{ end -}}
    {{- else -}}
        {{- $j = merge $j (dict "hasCourseInstance" (slice $ci)) -}}
    {{- end -}}
    {{/* -------- Emit into <head>  */}}
<script type="application/ld+json">
  {{- /* prettify the JSON (2‑space indent) and mark it as safe JS */ -}}
  {{- $j | jsonify (dict "indent" "  ") | safeJS -}}
  </script>
{{- end -}}