{{/* Basics */}}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta name="twitter:card" content="summary_large_image">

{{/* Title */}}
<meta property="og:title"  content="{{ if .IsPage }}{{.Title}}{{ else }}{{.Site.Params.title}}{{ end }}">
<meta name="twitter:title" content="{{ if .IsPage }}{{.Title}}{{ else }}{{.Site.Params.title}}{{ end }}">

{{/* Description */}}
<meta property="og:description"  content="{{ if .IsPage }}{{.Page.Params.description}}{{ else }}{{.Site.Params.description}}{{ end }}">
<meta name="twitter:description" content="{{ if .IsPage }}{{.Page.Params.description}}{{ else }}{{.Site.Params.description}}{{ end }}">

{{/* Image (2x1 aspect ratio, less than 5Mb) */}}
<meta name="twitter:image" content="{{ .Site.Params.social_image | absURL }}">
<meta property="og:image"  content="{{ .Site.Params.social_image | absURL }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1766">
<meta property="og:image:height" content="883">

{{/* Author / Creator */}}
{{ if .Page.Params.author_primary }}
<meta name="author" content="{{ .Page.Params.author_primary }}">
<meta name="twitter:creator" content="{{.Site.Params.twitter_handle}}">
{{end}}