{{ $counter := 0 }}
{{ range .tagnames}}
    {{$counter = add $counter 1}}
{{end}}

{{$group_name := .displayname | urlize}}

<ads-expansion-panel is-default-expanded class="learning-path-filters u-padding-bottom-1">
    <span slot="toggle">{{.displayname}}</span>
    <div slot="content">
        <div class="u-flex u-flex-column">
            <ads-search id="openfilter-search-box" class="u-margin-top-0 u-width-100%" has-search-button="" placeholder="Search"></ads-search>
            <div id="openfilter-results-status-bar" class="u-margin-bottom-1/2">
                Displaying&nbsp;
                <span id="openfilter-currently-shown-number" class="u-text-bold"> {{$counter }} </span>
                &nbsp;of&nbsp;
                <span id="openfilter-total-shown-number" class="u-text-bold"> {{$counter }} </span>
                &nbsp;filters.
            </div>

            <div style="max-height: 300px;   overflow:auto; margin-right: -16px">
                {{ range $x, $y := .tagnames }}
                    {{range $name, $count := $y}}

                        <div class="openfilter-search-div">
                            <!-- Make the ID safe; change + to 'plus' and urlize removing spaces & capitalizations-->
                            <ads-checkbox class='is-small tag-{{replace ($name | urlize) "+" "plus"}} group-{{$group_name}} to-page-top' id='{{replace ($name | urlize) "+" "plus"}}' name="{{$name}}" onclick="filterHandler_LearningPaths(this)">
                                <div class="search-title">{{$name}}</div>
                            </ads-checkbox>
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
</ads-expansion-panel>



<script>
    (() => {
        ////////// Search 

        // Assign inputChangeHandler to search box
        const search_box = document.getElementById('openfilter-search-box');
        search_box.inputChangeHandler = searchHandler_OpenFilter;

        // Handle search term from URL
        let url_str = window.location.search;
        if (url_str.includes('search=')) {
            let search_string = parseParamsFromURL(url_str);

            // Call search handler to execute
            search_box.setAttribute('search-value',search_string);
            searchHandler_OpenFilter(search_string);
        }
    })();
</script>
