{{/*
Route general filter request to show the right filters depending on page type

Where it is used:
    - /learning-paths/:category/
    - /learning-paths/microcontroller/

Called from:
    - _default/term.html
    - learning-paths/list.html
    - filter-search-sort/mobile-search-and-filter.html

Calls to:
    - partial filter-search-sort/closed-expansion.html
    - partial filter-search-sort/open-expansion.html
*/}}


<!-- Calculate main_category_titles, for term pages only -->
{{ $main_category_titles := slice }}
{{ range where $.context.Site.Pages "Params.maintopic" true}}
    {{ $main_category_titles = $main_category_titles | append .Title }}
{{end}}


<!-- Display filters for specific categories -->
{{ if eq .page_type "learning-path-category"}}
    {{/* Only display Cloud Service Providers in Server & Cloud Computing area */}}
    {{ if eq "Servers and Cloud Computing" .context.Title}}
        {{ partial "filter-search-sort/closed-expansion.html" (dict "context" .context "displayname" "Cloud Service Providers" "routing" "cloud_service_providers" "tagnames" .context.Params.cloud_service_providers_filter)}} 
    {{end}}

    {{ partial "filter-search-sort/closed-expansion.html" (dict "context" .context "displayname" "Subjects" "routing" "subjects" "tagnames" .context.Params.subjects_filter)}} 
    {{ partial "filter-search-sort/closed-expansion.html" (dict "context" .context "displayname" "OS" "routing" "operatingsystems" "tagnames" .context.Params.operatingsystems_filter)}} 
    {{ partial "filter-search-sort/closed-expansion.html" (dict "context" .context "displayname" "Skill Level" "routing" "skilllevels" "tagnames" (slice "Introductory" "Advanced"))}}
    {{ partial "filter-search-sort/open-expansion.html"   (dict "context" .context "displayname" "Tools, Software, and Languages"  "tagnames" .context.Params.tools_software_languages_filter)}}
{{ else if eq .page_type "learning-path-term"}}
    {{ partial "filter-search-sort/closed-expansion.html" (dict "context" .context "displayname" "Categories" "routing" "learning-paths" "tagnames" $main_category_titles)}} 
{{end}}